<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				<img alt="" src="./assets/demo/default/media/img/logo/dashboard.jpg" width="100%"/>
			</h3>
		</div>
		<div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
 
