<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Reports
            </h3>            
        </div>
        <div>
        </div>
    </div>
</div>
<div class="m-content">
			<div class="m-portlet">
				<div class="padding20">
                     <form [formGroup]="searchForm" >
					<div class="row col-lg-12">                            
							<div class="col-lg-3 col-sm-6" >                                
                                <div class="form-group group textcolor one">
                                     <p class="selecttext" *ngIf="searchForm.get('filter_on').value!=''">Search By</p>
                                    <select class="form-control" (change)="changeElement($event)" formControlName="filter_on">
                                            <option value="">Search By</option>											
											<option value="amount">Amount</option>
                                            <option value="accountNumber">Account Number</option>
                                            <option value="routingNumber">Routing Number</option>
                                            <option value="secCode">SEC</option>
                                            <option value="transactionStatus">Transaction Status</option>
                                    </select>                                      
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">                                
                                <div class="form-group group textcolor one nomargin" [style.opacity] = "searchForm.get('filter_on').value=='' ? '0.5' : ''">
                                    <p *ngIf="showDefault">                                     
                                        <input class="form-control m-input" (keyup.enter)="triggerSearchClick()" [ngClass]="searchForm.get('value').value?'used':''" type="text" 
                                            formControlName="value" id="value" [attr.disabled]="searchForm.get('filter_on').value=='' ? 'disabled' : null"
                                                [style.cursor] = "searchForm.get('filter_on').value=='' ? 'not-allowed' : ''">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Search Value</label>
                                    </p>    
                                    <ng-container *ngIf="showSecCode">
                                        <p class="selecttext" *ngIf="searchForm.get('value').value!=''">Search Value</p>
                                        <select class="form-control m-input" placeholder="Sec Code" formControlName="value">
                                            <option value="">Search Value</option>
                                            <option value="ARC">ARC</option>
                                            <option value="BOC">BOC</option>
                                            <option value="CCD">CCD</option>
                                            <option value="POP">POP</option>
                                            <option value="PPD">PPD</option>
                                            <option value="RCK">RCK</option>
                                            <option value="TEL">TEL</option>
                                            <option value="WEB">WEB</option>            
                                        </select>
                                    </ng-container>
                                    
                                    <ng-container *ngIf="showTransactionStatus">
                                        <p class="selecttext" *ngIf="searchForm.get('value').value!=''">Search Value</p>
                                        <select class="form-control m-input" placeholder="Transaction Status" formControlName="value">
                                            <option value="">Search Value</option>
                                            <option value="received">Received</option>
                                            <option value="failed">Failed</option>
                                        </select>
                                    </ng-container>                        
                                </div>
                            </div>
							<div class="col-lg-2  col-sm-4">    
                                <div class="group textcolor one datetext datetext1 ">    
                                <p>Start Date</p>                     
                                 <my-date-picker name="from_date" (keyup.enter)="triggerSearchClick()" placeholder="Start Date" [options]="startDateOption" 
                    			formControlName="from_date" (dateChanged)="onStartDateChanged($event)" (inputFieldChanged)="startDateValidate($event)"></my-date-picker>
                                </div>
                                <span class="error error02" *ngIf="isFormSubmit && searchForm.controls['from_date'].errors && !searchForm.controls['from_date'].errors.end_date">{{startDateValidationMsg}}</span>
                                <span class="error error02" *ngIf="isFormSubmit && searchForm.controls['from_date'].errors && searchForm.controls['from_date'].errors.pattern">Invalid Start Date</span>
                                <span class="error error02" *ngIf="isFormSubmit && searchForm.controls['from_date'].errors && searchForm.controls['from_date'].errors.end_date">Start Date should smaller than or equal to end date</span>
                            </div>
                            <div class="col-lg-2 col-sm-4">      
                                 <div class="group textcolor one datetext datetext1">
                                     <p>End Date</p>                         
                                 <my-date-picker name="to_date" (keyup.enter)="triggerSearchClick()" placeholder="End Date" [options]="endDateOption" 
                    			formControlName="to_date" (inputFieldChanged)="endDateValidate($event)"></my-date-picker>
                            </div>    
                            <span class="error error02" *ngIf="isFormSubmit && searchForm.controls['to_date'].errors && searchForm.controls['to_date'].errors.required && !searchForm.controls['to_date'].errors.end_date">{{endDateValidationMsg}}</span>
                            <span class="error error02" *ngIf="isFormSubmit && searchForm.controls['to_date'].errors && searchForm.controls['to_date'].errors.pattern">Invalid End Date</span>
                            <span class="error error02" *ngIf="isFormSubmit && searchForm.controls['to_date'].errors && searchForm.controls['to_date'].errors.end_date">End Date should greater than or equal to start date</span>
                            </div>                              
							<div class="col-lg-1 col-md-1 col-sm-4" >
                                <div class="form-group">
                                    <button class="nextbtn" type="button" (click)="search(searchForm.value,searchForm.valid)" #btnSearch>Search</button>                                    
                                </div>
                            </div>	
					</div>
                    </form>

                    <div class="col-lg-12 checklistbox checklistbox12 padding00">
					<div class="checklistbox1">
						<div class="col-lg-12">
							<table class="table table-bordered table-strip table-hover" [mfData]="resultList" #mf="mfDataTable" [mfSortBy]="sortBy" [mfSortOrder]="sortOrderBy">
									<thead>
										<th>
                                            <mfDefaultSorter by="payee_name">PAYEE NAME</mfDefaultSorter>
                                        </th>
										<th>
                                            <mfDefaultSorter by="payor_name">PAYOR NAME</mfDefaultSorter>
                                        </th>
										<th>                                            
                                            <mfDefaultSorter by="updated_on">TRANSACTION DATE</mfDefaultSorter>
                                        </th>
										<th>
                                            <mfDefaultSorter by="sec_code">SEC</mfDefaultSorter>
                                        </th>
										<th class="righttextalign">
                                            <mfDefaultSorter by="amount">AMOUNT($)</mfDefaultSorter>
                                        </th>
										<th class="righttextalign">
                                            <mfDefaultSorter by="routing_number">ROUTING#</mfDefaultSorter>
                                        </th>
										<th class="righttextalign">
                                            <mfDefaultSorter by="account_number">ACCOUNT#</mfDefaultSorter>
                                        </th>
										<th class="righttextalign">
                                            <mfDefaultSorter by="check_number">CHECK#</mfDefaultSorter>
                                        </th>
                                        <th>                                            
                                            <mfDefaultSorter by="check_status">TRANSACTION STATUS</mfDefaultSorter>
                                        </th>
									</thead>
									<tbody>
                                        <tr  *ngFor="let resultItem of mf.data">
													<td>{{resultItem.payee_name}}</td>
                                                    <td>{{resultItem.payor_name}}</td>
													<td>{{resultItem.updated_on}}</td>
                                                    <td>{{resultItem.sec_code}}</td>
                                                    <td class="righttextalign">{{resultItem.amount | currency}}</td>
                                                    <td class="righttextalign">{{resultItem.routing_number}}</td>
                                                    <td class="righttextalign">{{resultItem.account_number}}</td>
                                                    <td class="righttextalign">{{resultItem.check_number}}</td>                                             
                                                    <td class="capitalize">{{resultItem.check_status | titlecase}}</td>
                                        </tr>
										<tr *ngIf="!resultList?.length && displayRecords" class="error text-center">
											<td colspan="10">
												No records found.
											</td>
										</tr>
									</tbody>
							</table>
						</div>
				</div>
               </div>
				</div>
			</div>
</div>