<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Scanner Settings
            </h3>            
        </div>
        <div>
        </div>
    </div>
</div>
<div class="m-content">    
<div class="m-portlet">        
        <div class="padding20">
             <div class="row align-items-center">
                    <div class="col-lg-12" *ngIf="isSuccess">
                        <div class="m-alert m-alert--outline alert alert-success alert-dismissible fade show" role="alert">
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
                            {{responseMsg}}
                        </div>
                    </div>
                    <div class="col-lg-12" *ngIf="isError">
                        <div class="m-alert m-alert--outline alert alert-danger alert-dismissible fade show" role="alert">
                            <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
                            {{responseMsg}}
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                   <button class="scanbtn pull-right"  style="margin-right:20px" routerLink="/scanner/settings/form" *ngIf="showAddScanner">Add Scanner</button>
                </div>
            </div>
           
            <div class="col-lg-12 checklistbox checklistbox12">
            <div class="row checklistbox1">
                <div class="col-lg-12">
                <table class="table table-bordered table-strip table-hover">                    
                    <thead>
                        <th>Merchant Id</th>
                        <th class="righttextalign">Serial No</th>
                        <th class="righttextalign">Source Key</th>
                        <th class="righttextalign">PIN</th>
                        <th class="righttextalign">IP</th>
                        <th class="righttextalign">Port</th>
                        <th>Transactions Gateway</th>
                        <th>Action</th>
                    </thead>
                    <tr *ngFor="let setting of settingList; let i = index">
                        <td>{{setting.merchant_id}}</td>
                        <td class="righttextalign">{{setting.serial_no}}</td>
                        <td class="righttextalign">                            
                            ******
                        </td>
                        <td class="righttextalign">
                            <span *ngIf="setting.pin!=null && setting.pin!=''">******</span>
                        </td>                        
                        <td class="righttextalign">{{setting.ip}}</td>
                        <td class="righttextalign">{{setting.port}}</td>                                                
                        <td>                             
                             <ng-container *ngFor="let transactionGateway of transactionGateways">
                                 <ng-container *ngIf="transactionGateway.id==setting.transaction_gateway">
                                    {{transactionGateway.item}}
                                 </ng-container>
                             </ng-container>
                        </td>
                        <td width="150px;">
                            <a href="#" class="save" data-toggle="tooltip" data-placement="top" title="Edit" data-original-title="Edit" routerLink="/scanner/settings/form"> 
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="#" class="delete" data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete" 
                                (click)="confirmDelete(setting.id,i)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr> 
                    <tr class="error text-center"> 
                    <td colspan="8" *ngIf="!settingList.length && beforeDisplay">
                        No records found.
                    </td>
                    </tr>
                </table>
                <!-- <div class="col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-10 col-xs-10 error margin-LR-0  text-center" *ngIf="!settingList.length && beforeDisplay">
                        <span class="glyphicon glyphicon-alert"></span> No records found.
                    </div>
                </div> --> 
                </div>               
            </div>
            </div>
        </div>
</div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteGroup" aria-hidden="true" #confirmModal>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteGroup">Delete Record</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"> &times; </span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 marginb20">Are you sure you want to delete this record?</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="scanbtn" data-dismiss="modal">No</button>
					<button type="button" class="nextbtn" (click)="deleteData()">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>