
  .page-sidebar .page-sidebar-menu > li > a {
    color: #333333 !important;
    font-family: 'poppinslight' !important;
  }
  
  .page-sidebar .page-sidebar-menu > li a:hover {
    background: #00256f !important;
    color: #ffffff !important;
  }
  
  .page-sidebar .page-sidebar-menu > li a:hover i {
    color: #ffffff !important;
  }
  
  .page-sidebar .page-sidebar-menu > li a i {
    color: #333333 !important;
  }
  
  .page-sidebar .page-sidebar-menu > li.open > a {
    background: #00256f !important;
    color: #ffffff !important;
  }
  
  .page-sidebar .page-sidebar-menu > li.open > a i {
    color: #ffffff !important;
  }
  
  .page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #333333 !important;
    background: #fff !important;
  }
  
  .page-sidebar .page-sidebar-menu .sub-menu > li > a:hover {
    background: #000 !important;
  }
  
  .page-header.navbar .page-logo {
    box-shadow: 10px -3px 16px #e6e6e7;
  }
  
  .page-sidebar {
    box-shadow: 10px -3px 16px #e6e6e7 !important;
  }
  
  .page-footer {
    background: #fff;
  }
  
  .page-head .page-title > h1 {
    color: #344a9f !important;
  }
  
  .page-footer {
    margin-top: -20px !important;
    float: left;
    width: 100%;
    height: 100%;
  }
  
  .page-footer .page-footer-inner {
    margin-bottom: 0px !important;
  }
  
  
  /* login page CSS */
  
 
  .loginlogo {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  
  .submit {
    background: #24306a;
    color: #fff;
    padding: 10px 40px !important;
    border-radius: 25px !important;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .submit:hover {
    background: #121e57;
    color: #ffffff !important;
  }
  
  .submit:active {
    color: #ffffff !important;
  }
  
  .submit:focus {
    color: #ffffff !important;
  }
  
  .forgot a {
    color: #666666;
  }
  
  .remember {
    color: #666666;
  }
  
  .loginform .form-group.form-md-line-input > .input-icon > i {
    margin-left: -30px;
  }
  
  .loginform .form-group.form-md-line-input.form-md-floating-label .input-group.left-addon label, .form-group.form-md-line-input > .input-icon .form-control {
    padding: 0px !important;
  }
  
  .loginform .fa-lock {
    font-size: 22px;
  }
  
  .loginform .form-group.form-md-line-input.form-md-floating-label .input-icon > label {
    padding-left: 0px;
  }
  
  .logintext {
    margin-left: 15px;
  }
  
  .btn.green {
    background: #24306a !important;
    border-color: #24306a !important;
    border-radius: 20px !important;
    padding: 8px 25px !important;
  }
  
  .btn.green:hover {
    background: #00256f !important;
  }
  
  .btn.dark.btn-outline {
    border-color: #24306a !important;
    border-radius: 20px !important;
    padding: 8px 25px !important;
  }
  
  .btn.dark.btn-outline:hover {
    background: #00256f !important;
  }
  
  .modal-header {
    background: #24306a!important;
    color: #fff;
  }
  
  .pagination > li > a, .pagination > li > span {
    color: #333 !important;
  }
  
  .portlet > .portlet-title {
    margin-bottom: 0px !important;
  }
  
  .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #344a9f !important;
    border-color: #344a9f !important;
    color: #ffffff !important;
  }
  
  .portlet.light {
    padding: 0px !important;
  }
  
  .portlet-body {
    padding: 10px 20px;
  }
  
  .portlet-title {
    background: #344a9f !important;
    padding: 6px 18px 0px 18px !important;
    color: #fff !important;
  }
  
  .caption-subject.font-dark {
    color: #fff !important;
  }
  
  .table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #f5f5f5 !important;
  }
  
  .fixed-table-container {
    height: auto!important;
    padding-bottom: 52px !important;
  }
  
  .panel-default > .panel-heading {
    background: #ffffff !important;
  }
  
  .panel-default > .panel-heading:hover {
    background: #344a9f !important;
  }
  
  .panel-default > .panel-heading:hover a {
    color: #fff !important;
  }
  
  .page-title {
    width: 100%;
  }
  
  .iconsstyle i {
    font-size: 14px;
    border: 1px solid #344a9f;
    padding: 10px 33px 8px 22px;
    color: #344a9f;
    border-radius: 50px;
    width: 50px;
    background: #ffffff;
  }
  
  .iconsstyle1 {
    margin-right: -15px;
  }
  
  .iconsstyle i:hover {
    background: #24306a;
    color: #fff;
  }
  
  .panel-heading {
    padding: 10px 0px !important;
  }
  
  .iconsstyle2 {
    float: right;
    text-align: right;
    margin-right: 10px;
  }
  
  .title1 {
    width: 75%;
    display: inline-block;
  }
  
 
  
  @media (min-width:300px) and (max-width:767px) {
    .loginbox {
      height: auto;
      padding-bottom: 20px;
    }
  
    .forgot {
      width: 100%;
    }
  
    .fixed-table-pagination .pull-left {
      float: none !important;
      padding: 10px !important;
    }
  
    .title1 {
      width: 30%;
    }
  
    .page-header.navbar .page-logo {
      box-shadow: none !important;
    }
  
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
      background: #f9f9fa !important;
    }
  
    .iconsstyle i {
      padding: 5px 15px 5px 5px;
      width: 20PX;
      line-height: normal;
    }
  
    .page-head.page-title > h1 {
      font-size: 10px;
    }
  }
  
  @media (min-width:768px) and (max-width:1023px) {
    .page-header.navbar .page-logo {
      box-shadow: none !important;
    }
  }
  
  @media (min-width:768px) and (max-width:1024px) {
    .title1 {
      width: 50%;
    }
  }
  
  @media (min-width:1025px) and (max-width:1600px) {
    .title1 {
      width: 65%;
    }
  }
  
  .tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .tree ul {
    margin-left: 1em;
    position: relative;
  }
  
  .tree ul ul {
    margin-left: 1em;
  }
  
  .tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 2px solid #344a9f;
  }
  
  .tree li {
    margin: 0;
    padding: 0em 0em 0em 1em;
    line-height: 3em;
    color: #369;
    font-size: 14px;
    position: relative;
    color: #666666;
  }
  
  .tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 2px solid #344a9f;
    margin-top: 5px;
    position: absolute;
    top: 1em;
    left: 0;
  }
  
  .tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0;
  }
  
  .indicator {
    margin-right: 5px;
  }
  
  .tree li a {
    text-decoration: none;
    color: #369;
  }
  
  
  .toggle-group .btn-success {
    background: #3e8f3e;
  }
  
  .toggle-group .btn-success:hover {
    background: #3e8f3e;
  }
  
  .mappingcheckbox {
    margin-left: 10px;
  }
  
  /*work flow CSS start */
  .whitecontanier {
    background: #fff;
    padding: 10px;
  }
  
  .veritable {
    box-shadow: 0px 0px 5px 5px #e6e6e7 !important;
  }
  
  .veritable table {
    margin-bottom: 0px;
  }
  
  .veritable table thead tr th {
    background: #344a9f;
    padding: 10px !important;
    color: #fff;
  }
  
  .veritable table tr td {
    padding: 10px !important;
  }
  
  .veritable table tr td a {
    font-size: 16px;
    margin: 0px 10px;
    color: #24306a;
  }
  
  .veritable table tr td .borderbtn{border: 1px solid #24306a; padding: 5px 13px; border-radius:10px !important; font-size: 14px; margin: 0px 5px; }
  .veritable table tr td .borderbtn:hover{font-size: 14px; margin: 0px 3px; background: #24306a; color: #fff; }
  
  .veritable table tr td a:hover {
    font-size: 16px;
    margin: 0px 10px;
    color: #344a9f;
  }
  
  .blueheading {
    background: #344a9f;
    padding: 10px !important;
    color: #fff;
    margin: 0px;
  }
  
  .blueheading h3 {
    margin: 0px;
    font-size: 20px;
  }
  
  .workhead p {
    margin-top: 8px;
  }
  
  .bulesmallfont {
    font-size: 14px;
    color: #344a9f;
    margin-bottom: 0px;
  }
  
  .workheading {
    font-size: 16px;
    color: #585858;
  }
  
  .workhead a {
    border: 1px solid #dadada;
    padding: 10px 22px;
    border-radius: 80px !important;
    color: #364ca0;
    text-decoration: none !important;
    font-size: 16px;
    box-shadow: 0px 3px 4px #cccccc;
  }
  
  .workhead a i {
    font-size: 16px;
  }
  
  .workhead h5 {
    font-size: 16px;
    color: #384da0;
    margin-bottom: 0px !important;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .deletebtn i {
    border: 1px solid #24306a;
    padding: 6px 13px;
    color: #24306a;
    border-radius: 10px;
  }
  
  .addbtn i {
    border: 1px solid #24306a;
    background: #24306a;
    color: #ffffff;
    padding: 6px 13px;
    border-radius: 10px;
  }
  
  .boxshadow {
    box-shadow: 0px 0px 5px 1px #ccc;
    margin-bottom: 40px;
  }
  
  .approvebtn {
    padding: 6px 13px;
    margin: 0px 5px;
    border: 1px solid #525252;
    background: #fff;
    color: #525252;
    border-radius: 10px !important;
  }
  
  .approvebtn a {
    margin: 0px !important;
  }
  
  .approvebtn:hover {
    background: #3e8f3e;
    color: #fff;
    border: 1px solid #3e8f3e;
  }
  
  .unapprovebtn {
    padding: 6px 13px;
    margin: 0px 5px;
    border: 1px solid #525252;
    background: #fff;
    color: #525252;
    border-radius: 10px !important;
  }
  
  .unapprovebtn a {
    margin: 0px !important;
  }
  
  .unapprovebtn:hover {
    background: #e11e26;
    color: #fff;
    border: 1px solid #e11e26;
  }
  
  .viewbtn {
    padding: 6px 13px;
    margin: 0px 5px;
    border: 1px solid #344a9f;
    background: #344a9f;
    color: #fff;
    border-radius: 10px !important;
  }
  
  .viewbtn a {
    color: #fff !important;
    text-decoration: none !important;
    margin: 0px !important;
  }
  
  .table tr td {
    vertical-align: middle !important;
  }
  /*work flow End start */
  
  /*Menu Animation start */
  .page-content-wrapper{transition:all 0.5s !important;}
  .page-container{transition:all 0.5s !important;}
  .navbar-collapse.collapse{transition:all 0.5s !important;}
  .page-content{transition:all 0.5s !important;}
  .page-logo{transition:all 0.5s !important;}
   /*Menu Animation End */
  

.panel-heading{padding: 10px 0px 10px 10px !important; border-bottom: 1px solid #ccc !important; }
.panel{background: #fff; margin-bottom: 10px;  border: 1px solid #ccc !important; }
.panel-body{padding: 10px !important;} 
.title1>a{display: block; color: #333; font-size: 18px;text-decoration: none; font-weight:100; margin-top: 5px;}
h1{font-size: 22px; color: #344a9f !important;}
.breadcrumb{background: none !important;}
.breadcrumb li{margin-right: 6px;}
.breadcrumb li .fa{font-size: 14px; color: #c5ccd5; }
.m-subheader{padding: 30px 10px 0 10px !important;}


#status .btn.btn-default{padding:.5rem 1rem !important; font-size: 0.9rem !important;}
.btn-default.btn-on.active{background-color: #5BB75B;color: white; padding:.5rem 1rem !important; font-size: 0.9rem !important;}
.btn-default.btn-on.active:hover{background-color: #5BB75B;color: white; padding:.5rem 1rem !important; font-size: 0.9rem !important;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white; padding:.5rem 1rem !important; font-size: 0.9rem !important;}
.btn-default.btn-off.active:hover{background-color: #DA4F49;color: white; padding:.5rem 1rem !important; font-size: 0.9rem !important;}

#status input[type="radio"]{display: none !important;}
.bluecheckbox{float: right; margin-top: 6px;}

.modal-header{color: #ffffff;}

.modal-body .btn.btn-secondary{border-radius: 30px;}
.modal-body .btn.btn-primary{border-radius: 30px; background: #344a9f !important;}
.modal .modal-content .modal-header .modal-title{color: #fff !important;}
.modal .modal-content .modal-header .close{color: #fff !important;}

input[type="text"]{border: none; border-bottom: 1px solid #cccccc; border-radius: 0px; padding: 10px 5px !important; margin:10px 0px;}
input[type="text"]:focus{border-bottom: 1px solid #344a9f !important; border-radius: 0px; border: none;}

input[type="password"]{border: none; border-bottom: 1px solid #cccccc; border-radius: 0px; padding: 10px 5px !important; margin:10px 0px;}
input[type="password"]:focus{border-bottom: 1px solid #344a9f !important; border-radius: 0px; border: none;}

textarea{border: none !important; border-bottom: 1px solid #cccccc !important; border-radius: 0px !important; padding: 10px 5px !important; margin:10px 0px;}
textarea:focus{border-bottom: 1px solid #344a9f !important; border-radius: 0px !important; border: none;}

select{border: none !important; border-bottom: 1px solid #cccccc !important; border-radius: 0px !important; padding: 10px 5px !important; margin:10px 0px;}
select:focus{border-bottom: 1px solid #344a9f !important; border-radius: 0px !important; border: none;}

.padding20{padding: 20px;}

.table thead{background: #344a9f !important; color: #fff !important;}

table tr td .borderbtn {border: 1px solid #333;padding: 2px 15px 0px 15px;border-radius: 20px !important;font-size: 14px;color: #333;margin: 0px 3px;}
table tr td .borderbtn:hover{background: #344a9f; color: #fff; border: 1px solid #fff;}
.m-subheader{padding: 30px 30px 0 30px !important;}
.roundbtn{border-radius: 20px; padding: 8px 15px; width: 130px !important}
.roundbtn1 a:hover{background: #344a9f !important; color: #fff !important;}

.error{
color: red;
font-size: 12px;
}
.loader {
    border: 16px solid #CCCCCC; /* Light grey */
    border-top: 16px solid #344a9f; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
   z-index:999;
   position:absolute;
   top:50%;
   left:50%;
   margin:0pa auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn.btn-primary{border-radius: 30px !important;}
.btn.btn-secondary{border-radius: 30px !important;}

.ngx-pagination .current{background: #344a9f !important}
.table a{text-decoration: none}
.fa fa-info-circle{
	font-size:18px;
}

.m-grid__item.m-grid__item--fluid.m-wrapper{min-height: calc(100vh - 150px);}
.m-grid__item.m-aside-left.m-aside-left--skin-dark{min-height: calc(100vh - 150px); margin-bottom: -14px}
.panel-heading h4{text-transform: capitalize}
.portlet-body ul{padding: 0px; ;list-style: none;}
.tree h4{font-size: 14px; font-weight: 100; text-transform: capitalize}

a{text-decoration: none !important;}

.btn.btn-secondary{border:1px solid #626262; background: #c1ccd0; width: 100px}
.btn.btn-secondary:hover{border:1px solid #626262 !important;}

.marginb20{margin-bottom: 20px;}
.btn.btn-primary{background: #344a9f !important; width: 100px}
.btn.btn-primary:hover{background: #00256f !important}
.m-checkbox.m-checkbox--state-brand.m-checkbox--solid > input:checked ~ span{background: #00256f !important}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon > i::before{color: #000 !important}

.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper{width: 300px !important;}
.m-dropdown.m-dropdown--arrow .m-dropdown__arrow{margin-left:0px; left: 56%}

#profileImage {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #344a9f;
  font-size: 19px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin: 20px 0;
}
a {outline : none;}

.tree1 .modal-body ul::before{border-top: none !important; border-left: none !important}
.tree1 .modal-body li::before{border: none !important}

a{outline: none !important;}

.alert-dismissible .close{padding: .75rem 0.35rem !important;}

.alert {padding: .50rem 0.35rem !important;}

.table th a{color: #fff;}