
  .page-sidebar .page-sidebar-menu > li > a {
    color: #333333 !important;
    font-family: 'poppinslight' !important;
  }
  
  .page-sidebar .page-sidebar-menu > li a:hover {
    background: #00256f !important;
    color: #ffffff !important;
  }
  
  .page-sidebar .page-sidebar-menu > li a:hover i {
    color: #ffffff !important;
  }
  
  .page-sidebar .page-sidebar-menu > li a i {
    color: #333333 !important;
  }
  
  .page-sidebar .page-sidebar-menu > li.open > a {
    background: #00256f !important;
    color: #ffffff !important;
  }
  
  .page-sidebar .page-sidebar-menu > li.open > a i {
    color: #ffffff !important;
  }
  
  .page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #333333 !important;
    background: #fff !important;
  }
  
  .page-sidebar .page-sidebar-menu .sub-menu > li > a:hover {
    background: #000 !important;
  }
  
  .page-header.navbar .page-logo {
    box-shadow: 10px -3px 16px #e6e6e7;
  }
  
  .page-sidebar {
    box-shadow: 10px -3px 16px #e6e6e7 !important;
  }
  
  .page-footer {
    background: #fff;
  }
  
  .page-head .page-title > h1 {
    color: #344a9f !important;
  }
  
  .page-footer {
    margin-top: -20px !important;
    float: left;
    width: 100%;
    height: 100%;
  }
  
  .page-footer .page-footer-inner {
    margin-bottom: 0px !important;
  }
  
  
  /* login page CSS */
  
 
  .loginlogo {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  
  .submit {
    background: #24306a;
    color: #fff;
    padding: 10px 40px !important;
    border-radius: 25px !important;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .submit:hover {
    background: #121e57;
    color: #ffffff !important;
  }
  
  .submit:active {
    color: #ffffff !important;
  }
  
  .submit:focus {
    color: #ffffff !important;
  }
  
  .forgot a {
    color: #666666;
  }
  
  .remember {
    color: #666666;
  }
  
  .loginform .form-group.form-md-line-input > .input-icon > i {
    margin-left: -30px;
  }
  
  .loginform .form-group.form-md-line-input.form-md-floating-label .input-group.left-addon label, .form-group.form-md-line-input > .input-icon .form-control {
    padding: 0px !important;
  }
  
  .loginform .fa-lock {
    font-size: 22px;
  }
  
  .loginform .form-group.form-md-line-input.form-md-floating-label .input-icon > label {
    padding-left: 0px;
  }
  
  .logintext {
    margin-left: 15px;
  }
  
  .btn.green {
    background: #24306a !important;
    border-color: #24306a !important;
    border-radius: 20px !important;
    padding: 8px 25px !important;
  }
  
  .btn.green:hover {
    background: #00256f !important;
  }
  
  .btn.dark.btn-outline {
    border-color: #24306a !important;
    border-radius: 20px !important;
    padding: 8px 25px !important;
  }
  
  .btn.dark.btn-outline:hover {
    background: #00256f !important;
  }
  
  .modal-header {
    background: #24306a!important;
    color: #fff;
  }
  
  .pagination > li > a, .pagination > li > span {
    color: #333 !important;
  }
  
  .portlet > .portlet-title {
    margin-bottom: 0px !important;
  }
  
  .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #344a9f !important;
    border-color: #344a9f !important;
    color: #ffffff !important;
  }
  
  .portlet.light {
    padding: 0px !important;
  }
  
  .portlet-body {
    padding: 10px 20px;
  }
  
  .portlet-title {
    background: #344a9f !important;
    padding: 6px 18px 0px 18px !important;
    color: #fff !important;
  }
  
  .caption-subject.font-dark {
    color: #fff !important;
  }
  
  .table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #f5f5f5 !important;
  }
  
  .fixed-table-container {
    height: auto!important;
    padding-bottom: 52px !important;
  }
  
  .panel-default > .panel-heading {
    background: #ffffff !important;
  }
  
  .panel-default > .panel-heading:hover {
    background: #344a9f !important;
  }
  
  .panel-default > .panel-heading:hover a {
    color: #fff !important;
  }
  
  .page-title {
    width: 100%;
  }
  
  .iconsstyle i {
    font-size: 14px;
    border: 1px solid #344a9f;
    padding: 10px 33px 8px 22px;
    color: #344a9f;
    border-radius: 50px;
    width: 50px;
    background: #ffffff;
  }
  
  .iconsstyle1 {
    margin-right: -15px;
  }
  
  .iconsstyle i:hover {
    background: #24306a;
    color: #fff;
  }
  
  .panel-heading {
    padding: 10px 0px !important;
  }
  
  .iconsstyle2 {
    float: right;
    text-align: right;
    margin-right: 10px;
  }
  
  .title1 {
    width: 75%;
    display: inline-block;
  }
  
 
  
  @media (min-width:300px) and (max-width:767px) {
    .loginbox {
      height: auto;
      padding-bottom: 20px;
    }
  
    .forgot {
      width: 100%;
    }
  
    .fixed-table-pagination .pull-left {
      float: none !important;
      padding: 10px !important;
    }
  
    .title1 {
      width: 30%;
    }
  
    .page-header.navbar .page-logo {
      box-shadow: none !important;
    }
  
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
      background: #f9f9fa !important;
    }
  
    .iconsstyle i {
      padding: 5px 15px 5px 5px;
      width: 20PX;
      line-height: normal;
    }
  
    .page-head.page-title > h1 {
      font-size: 10px;
    }
  }
  
  @media (min-width:768px) and (max-width:1023px) {
    .page-header.navbar .page-logo {
      box-shadow: none !important;
    }
  }
  
  @media (min-width:768px) and (max-width:1024px) {
    .title1 {
      width: 50%;
    }
  }
  
  @media (min-width:1025px) and (max-width:1600px) {
    .title1 {
      width: 65%;
    }
  }
  
  .tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .tree ul {
    margin-left: 1em;
    position: relative;
  }
  
  .tree ul ul {
    margin-left: 1em;
  }
  
  .tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 2px solid #344a9f;
  }
  
  .tree li {
    margin: 0;
    padding: 0em 0em 0em 1em;
    line-height: 3em;
    color: #369;
    font-size: 14px;
    position: relative;
    color: #666666;
  }
  
  .tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 2px solid #344a9f;
    margin-top: 5px;
    position: absolute;
    top: 1em;
    left: 0;
  }
  
  .tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0;
  }
  
  .indicator {
    margin-right: 5px;
  }
  
  .tree li a {
    text-decoration: none;
    color: #369;
  }
  
  
  .toggle-group .btn-success {
    background: #3e8f3e;
  }
  
  .toggle-group .btn-success:hover {
    background: #3e8f3e;
  }
  
  .mappingcheckbox {
    margin-left: 10px;
  }
  
  /*work flow CSS start */
  .whitecontanier {
    background: #fff;
    padding: 10px;
  }
  
  .veritable {
    box-shadow: 0px 0px 5px 5px #e6e6e7 !important;
  }
  
  .veritable table {
    margin-bottom: 0px;
  }
  
  .veritable table thead tr th {
    background: #344a9f;
    padding: 10px !important;
    color: #fff;
  }
  
  .veritable table tr td {
    padding: 10px !important;
  }
  
  .veritable table tr td a {
    font-size: 16px;
    margin: 0px 10px;
    color: #24306a;
  }
  
  .veritable table tr td .borderbtn{border: 1px solid #24306a; padding: 5px 13px; border-radius:10px !important; font-size: 14px; margin: 0px 5px; }
  .veritable table tr td .borderbtn:hover{font-size: 14px; margin: 0px 3px; background: #24306a; color: #fff; }
  
  .veritable table tr td a:hover {
    font-size: 16px;
    margin: 0px 10px;
    color: #344a9f;
  }
  
  .blueheading {
    background: #344a9f;
    padding: 10px !important;
    color: #fff;
    margin: 0px;
  }
  
  .blueheading h3 {
    margin: 0px;
    font-size: 20px;
  }
  
  .workhead p {
    margin-top: 8px;
  }
  
  .bulesmallfont {
    font-size: 14px;
    color: #344a9f;
    margin-bottom: 0px;
  }
  
  .workheading {
    font-size: 16px;
    color: #585858;
  }
  
  .workhead a {
    border: 1px solid #dadada;
    padding: 10px 22px;
    border-radius: 80px !important;
    color: #364ca0;
    text-decoration: none !important;
    font-size: 16px;
    box-shadow: 0px 3px 4px #cccccc;
  }
  
  .workhead a i {
    font-size: 16px;
  }
  
  .workhead h5 {
    font-size: 16px;
    color: #384da0;
    margin-bottom: 0px !important;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .deletebtn i {
    border: 1px solid #24306a;
    padding: 6px 13px;
    color: #24306a;
    border-radius: 10px;
  }
  
  .addbtn i {
    border: 1px solid #24306a;
    background: #24306a;
    color: #ffffff;
    padding: 6px 13px;
    border-radius: 10px;
  }
  
  .boxshadow {
    box-shadow: 0px 0px 5px 1px #ccc;
    margin-bottom: 40px;
  }
  
  .approvebtn {
    padding: 6px 13px;
    margin: 0px 5px;
    border: 1px solid #525252;
    background: #fff;
    color: #525252;
    border-radius: 10px !important;
  }
  
  .approvebtn a {
    margin: 0px !important;
  }
  
  .approvebtn:hover {
    background: #3e8f3e;
    color: #fff;
    border: 1px solid #3e8f3e;
  }
  
  .unapprovebtn {
    padding: 6px 13px;
    margin: 0px 5px;
    border: 1px solid #525252;
    background: #fff;
    color: #525252;
    border-radius: 10px !important;
  }
  
  .unapprovebtn a {
    margin: 0px !important;
  }
  
  .unapprovebtn:hover {
    background: #e11e26;
    color: #fff;
    border: 1px solid #e11e26;
  }
  
  .viewbtn {
    padding: 6px 13px;
    margin: 0px 5px;
    border: 1px solid #344a9f;
    background: #344a9f;
    color: #fff;
    border-radius: 10px !important;
  }
  
  .viewbtn a {
    color: #fff !important;
    text-decoration: none !important;
    margin: 0px !important;
  }
  
  .table tr td {
    vertical-align: top !important;
  }
  /*work flow End start */
  
  /*Menu Animation start */
  .page-content-wrapper{transition:all 0.5s !important;}
  .page-container{transition:all 0.5s !important;}
  .navbar-collapse.collapse{transition:all 0.5s !important;}
  .page-content{transition:all 0.5s !important;}
  .page-logo{transition:all 0.5s !important;}
   /*Menu Animation End */

.panel-heading{padding: 10px 0px 10px 10px !important; border-bottom: 1px solid #ccc !important; }
.panel{background: #fff; margin-bottom: 10px;  border: 1px solid #ccc !important; }
.panel-body{padding: 10px !important;} 
.title1>a{display: block; color: #333; font-size: 18px;text-decoration: none; font-weight:100; margin-top: 5px;}
h1{font-size: 22px; color: #344a9f !important;}
.breadcrumb{background: none !important;}
.breadcrumb li{margin-right: 6px;}
.breadcrumb li .fa{font-size: 14px; color: #c5ccd5; }
.m-subheader{padding: 30px 10px 0 10px !important;}


#status .btn.btn-default{padding:.5rem 1rem !important; font-size: 0.9rem !important;}
.btn-default.btn-on.active{background-color: #5BB75B;color: white; padding:.5rem 1rem !important; font-size: 0.9rem !important;}
.btn-default.btn-on.active:hover{background-color: #5BB75B;color: white; padding:.5rem 1rem !important; font-size: 0.9rem !important;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white; padding:.5rem 1rem !important; font-size: 0.9rem !important;}
.btn-default.btn-off.active:hover{background-color: #DA4F49;color: white; padding:.5rem 1rem !important; font-size: 0.9rem !important;}

#status input[type="radio"]{display: none !important;}
.bluecheckbox{float: right; margin-top: 6px;}

.modal-header{color: #ffffff;}

.modal-body .btn.btn-secondary{border-radius: 30px;}
.modal-body .btn.btn-primary{border-radius: 5px; background: #2662b0 !important;}
.modal .modal-content .modal-header .modal-title{color: #fff !important;}
.modal .modal-content .modal-header .close{color: #fff !important;}
input[type="text"]{border: none; border-bottom: 1px solid #cccccc; border-radius: 0px; padding: 10px 5px !important; margin:0px 0px 30px 0px;}
input[type="text"]:focus{border-bottom: 1px solid #344a9f !important; border-radius: 0px; border: none;}
input[type="password"]{border: none; border-bottom: 1px solid #cccccc; border-radius: 0px; padding: 10px 5px !important; margin:0px 0px 30px 0px;}
input[type="password"]:focus{border-bottom: 1px solid #344a9f !important; border-radius: 0px; border: none;}
textarea{border: none !important; border-bottom: 1px solid #cccccc !important; border-radius: 0px !important; padding: 10px 5px !important; margin:10px 0px;}
textarea:focus{border-bottom: 1px solid #344a9f !important; border-radius: 0px !important; border: none;}
select{border: none !important; border-bottom: 1px solid #cccccc !important; border-radius: 0px !important; padding: 10px 5px !important; margin:0px 0px 30px 0px;}
select:focus{border-bottom: 1px solid #344a9f !important; border-radius: 0px !important; border: none;}

.padding20{padding: 20px 10px;}

.table thead{background: #f5f5f5 !important; color: #000000 !important;}

table tr td .borderbtn {border: 1px solid #333;padding: 2px 15px 0px 15px;border-radius: 20px !important;font-size: 14px;color: #333;margin: 0px 3px;}
table tr td .borderbtn:hover{background: #344a9f; color: #fff; border: 1px solid #fff;}
.m-subheader{padding: 30px 30px 0 30px !important;}
.roundbtn{border-radius: 20px; padding: 8px 15px; width: 130px !important}
.roundbtn .roundbtn1{width: 250px !important;}
.roundbtn1 a:hover{background: #344a9f !important; color: #fff !important;}

.error{
color: red;
font-size: 12px;
}
.loader {
    border: 16px solid #CCCCCC; /* Light grey */
    border-top: 16px solid #344a9f; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
   z-index:999;
   position:absolute;
   top:50%;
   left:50%;
   margin:0pa auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn.btn-primary{border-radius: 5px !important;}
.btn.btn-secondary{border-radius: 5px !important;}

.ngx-pagination .current{background: #344a9f !important}
.table a{text-decoration: none}
.fa fa-info-circle{
	font-size:18px;
}

.m-grid__item.m-grid__item--fluid.m-wrapper{min-height: calc(100vh - 150px);}
.m-grid__item.m-aside-left.m-aside-left--skin-dark{min-height: calc(100vh); margin-bottom: -14px}
.panel-heading h4{text-transform: capitalize}
.portlet-body ul{padding: 0px; ;list-style: none;}
.tree h4{font-size: 14px; font-weight: 100; text-transform: capitalize}

a{text-decoration: none !important;}

.btn.btn-secondary{border:1px solid #626262; background: #c1ccd0; width: 100px}
.btn.btn-secondary:hover{border:1px solid #626262 !important;}

.marginb20{margin-bottom: 20px;}
.btn.btn-primary{background: #2662b0 !important; width: 100px}
.btn.btn-primary:hover{background: #2662b0 !important}
.m-checkbox.m-checkbox--state-brand.m-checkbox--solid > input:checked ~ span{background: #00256f !important}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon > i::before{color: #000 !important}

.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper{width: 300px !important;}
.m-dropdown.m-dropdown--arrow .m-dropdown__arrow{margin-left:0px; left: 56%}

#profileImage {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #ffffff;
  font-size: 19px;
  color: #1765b9;
  text-align: center;
  line-height: 25px;
  margin: 0px 0px 10px 0px;
}
a {outline : none;}

.tree1 .modal-body ul::before{border-top: none !important; border-left: none !important}
.tree1 .modal-body li::before{border: none !important}

a{outline: none !important;}

.alert-dismissible .close{padding: .75rem 0.35rem !important;}

.alert {padding: .50rem 0.35rem !important;}

.table th a{color: #fff;}

.m-aside-left.m-aside-left--skin-dark{background: #2ba4e7;
  background: -moz-linear-gradient(45deg, #2ba4e7 0%, #2590d9 22%, #2287d1 41%, #1d78c7 56%, #1867ba 79%, #155eb4 100%); 
  background: -webkit-linear-gradient(45deg, #2ba4e7 0%,#2590d9 22%,#2287d1 41%,#1d78c7 56%,#1867ba 79%,#155eb4 100%);
  background: linear-gradient(45deg, #2ba4e7 0%,#2590d9 22%,#2287d1 41%,#1d78c7 56%,#1867ba 79%,#155eb4 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ba4e7', endColorstr='#155eb4',GradientType=1 );}

  .padding20t{padding: 0px 20px 20px 20px;}
  .merchantleftmenu{border-right: 1px solid #ccc;}
  .merchantleftmenu ul{padding-left: 20px;}
  .merchantleftmenu ul li{color: #666666; list-style: inside; padding: 15px}
  .merchantleftmenu ul li:hover{background: #ccc; border-right:2px solid #21ace5; background: #def3fb;}
  .merchantleftmenu ul li:hover a{color: #000; font-weight: bold;}
  .merchantleftmenu ul li a{color:#666666; padding: 10px 5px !important; }
  .merchantleftmenu ul li.active{background: #ccc; border-right:2px solid #21ace5; background: #def3fb; color: #000}
  .merchantleftmenu ul li.active a{color: #000; font-weight: bold;}
  
  .pageheadcolor h2{color: #21ace5; margin-bottom: 20px;}

  .m-menu__nav.m-menu__nav--dropdown-submenu-arrow{margin-top: 90px !important;}


  .badge1 {
    position:relative;
 }
 .badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-10px;
    right:-10px;
    font-size:.7em;
    background:#1663b7;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
 }

 /* scanner code */

 .scanbtn{background: #777777; padding: 13px 20px; border-radius:10px; border:1px solid #6b6969; color: #fff; cursor: pointer; width:140px; outline: none !important;}
 .errorbox{border:1px solid #000; padding:10px;}

 .checklistbox {min-height: 520px; max-height: 520px; overflow-y: auto; padding: 20px 20px;} 
 .checklistbox1{border: 1px solid #ccc; background: #f0efef; margin-bottom: 30px; border-radius:25px;}
 .checklistbox1 table{background: #fff;}
 .checklistbox1 .table th{background: #f5f5f5; padding: 10px !important; border:1px solid #ccc; color:#949494; text-align:left}
 .checklistbox1 input[type="text"]{border:1px solid #ccc; border-radius: 5px; margin-bottom: 0px;}
 .checklistbox1 table .save i{font-size: 20px; margin-right: 5px; color:#4e8751}
 .checklistbox1 table .delete i{font-size: 22px; color: #2662b0;}

.nextbtn{background: #2662b0; padding: 13px 20px; border-radius:10px; border:1px solid #2662b0; color: #fff; cursor: pointer;  width:140px; outline:none; outline:none !important;}
.nextbtn.nextbtn1{margin-top:30px !important;}

.checklistbox1.errorred{border: 1px solid #690009; background: #fae6e6; margin-bottom: 30px; border-radius:25px;}

.reporterror{margin-top: 20px;}
.errosmsg{color: #690009; font-size: 16px; font-weight:400;}
.sucessmsg{color: #2662b0;font-size: 16px; }

.checklistbox12 .checklistbox1{background: none; border: none;}
.totaltrn{padding: 20px; padding-bottom: 0px;}
.totaltrn p{font-size: 16px; margin-bottom: 0px;}
.totaltrn p span{color: #2662b0;}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.m-page-loader.m-page-loader--base.m-page-loader--non-block{background:rgba(0,0,0,0.5);right: 0%; left: 0%; top: 0%; bottom: 0%; margin: 0px !important;}
.m-blockui{position: absolute; top: 50%; left: 46%; background: #2662b0 !important}

.tooltipcustomize .tooltip-inner{min-width: 336px !important;max-height: 220px !important;overflow-y: auto;overflow-x: hidden;position: absolute;right: 0%;margin-right: -60px;}

.tooltip{position: absolute !important; border-bottom:none;}
.tooltip-inner{color: #000000 !important; background-color: #fff !important; border: 1px solid #ccc; min-width: 400px !important; overflow-y: auto; max-height: 300px; padding:0.5rem .0rem .0rem .0rem !important; overflow-x:hidden;}
.tooltip-inner li{padding: 10px 5px; border-bottom: 1px solid #ccc; list-style: none !important; text-align: left; color:  #690009; }
/*.tooltip-inner li:last-child{border:none !important;}*/
.tooltip-inner p a{border:1px solid #690009; width: 20px; height: 20px; padding: 2px 6px; border-radius: 50%; color: #690009 }
.tooltip-inner ul{padding: 0px !important; margin-bottom:0px !important; }

.m-body.m-wrapper{overflow: visible !important; }

.datepic{margin-top:-38px; float: right; background: #cccccc;}
.datepic a{color:#000000; padding: 8px 5px; background: #c4c4c4;}
.datepic html [type=button]{border: none;}

.checklistbox12 .checklistbox1 table tbody .errorlist{background: #fbdee1 !important;}
.checklistbox12 .checklistbox1 table tbody .errorlist i{border: 1px solid #6b040d; padding: 5px 9px; border-radius: 50%; width: 25px; height: 25px;}
.checklistbox12 .checklistbox1 table tbody .errorlist td{color: #6b040d; font-weight: 500;}
.resultsp p{margin-top: 25px; font-size: 16px; color: #656565;}

.m-menu__item.active-link{background: #fff; color: #000;}
.m-menu__item.active-link i{color: #000000 !important}
.m-menu__item.active-link span{color: #000000 !important}

.marginnone select{margin: 0px !important; border: 1px solid #ccc !important; border-radius: 3px; height: 37px !important; border-radius:5px !important; }
.datepicker-noclear [ng-click="select(null)"] {
    display: none;
} 
.btnclear{
       display: none;
}
.checklistbox12.checklistbox1{border: none !important; background: none !important}
.pagesettings .error{ float: left}
.checklistbox1 input[type="text"].has-error,.checklistbox1 select.has-error, my-date-picker.has-error .mydp{
  border: 1px solid #ff0000!important;
}

.mydrp{border:none !important; border-bottom: 1px solid #ccc !important;}

.capitalize {
  text-transform: capitalize;
}

.padding00{padding: 20px 0px !important;}

.scanBlueButton{
    background: #2662b0;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #2662b0;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    width:156px;
    outline:none;
    
}

.topcolor{margin-top: 17px;font-weight: bold;color: #2662b0;margin-right: 15px;}

.tooltip-inner label p{color:#000000; margin-bottom:0px !important;}

.m-footer__copyright{font-size:16px;}

.calborder .mydp{border:none; border-bottom:1px solid #ccc !important; border-radius:0px !important;}
.calborder .mydp .selectiongroup{ margin-bottom:3px !important;}

.green{background:#e0ffd5;}

.righttextalign {text-align:right; padding-right:3px;}
.righttextalign input[type="text"]{text-align:right; padding-right:3px;}

.checklistbox1 .table th.righttextalign{text-align: right !important;}

 

  .textcolor{background: #e7e7e7; margin-bottom: 30px; padding: 25px 0px 0px 0px; border-radius:8px 8px 0px 0px; border-bottom: 1px solid #00256f;}
  .textcolor label{margin-bottom: 0px !important;}
  .textcolor input[type="text"]{padding: 5px 0px 0px 0px !important; margin-bottom: 0px; background: #e7e7e7 !important}
  .textcolor input[type="text"]:focus{border: none !important;}
  .textcolor input[type="text"]:active{border: none !important;}


  .textcolor input[type="password"]{padding: 5px 0px 0px 0px !important; margin-bottom: 0px; background: #e7e7e7 !important}
  .textcolor input[type="password"]:focus{border: none !important;}
  .textcolor input[type="password"]:active{border: none !important;}



  .textcolor input[type="email"]{padding: 5px 0px 0px 0px !important; margin-bottom: 0px; background: #e7e7e7 !important}
  .textcolor input[type="email"]:focus{border: none !important;}
  .textcolor input[type="email"]:active{border: none !important;}
  .textcolor select{padding: 5px 0px 0px 0px !important; margin-bottom: 0px; background: #e7e7e7; color: #999999 !important; font-size: 15px !important;}
  .textcolor select:focus{border: none !important;  color: #999999 !important;}
  .textcolor select.form-control:not([size]):not([multiple]){height: auto;  background: #e7e7e7;  color: #999999 !important;}


  .scanbtn.ejectbtn{width: 110px !important; margin-left: 10px !important;}
  .m-brand--minimize.m-aside-left--minimize .m-nav__link.m-dropdown__toggle{margin-right: 30px !important;}


 .group{ 
  position:relative; 
  margin-bottom:35px; 
}
input,textarea      {
  font-size:14px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus   { outline:none; }

.one label      {
  color:#999; 
  font-size:15px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:28px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.two label      {
  color:#777777 !important; 
  font-size:15px;
  font-weight:normal;
  position:absolute;
  left:5px;
  top:15px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input.used ~ label {
  top:8px;
  font-size:12px;
  color:#5264AE;
}

 
.bar  { position:relative; display:block; width: 100%; }
.bar:before, .bar:after  {
  content:'';
  height:2px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after,{
  width:50%;
}

 

input:focus ~ .highlight  {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
 from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
 from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
 from { background:#5264AE; }
  to  { width:0; background:transparent; }
}


.error.error02{ margin-top: -25px !important; float: left !important;}

.group.textcolor.one.nomargin p{margin-bottom: 0px !important;}
.selecttext{margin-bottom: 0px;margin-top: -18px;padding: 0px 4px; font-size: 12px; color: #5264AE;}
.datetext{margin-top: 0px; padding-top: 7px;}
.datetext .mydp .selection{background: #e7e7e7 !important; height: auto !important; padding-left: 4px !important; margin-top: 17px !important; color: #999999;font-size: 15px !important;}
.datetext .mydp .btnpicker{background: #e7e7e7 !important;}
.datetext .mydp{border:none !important;}
.infotool .tooltip-inner{min-width: 150px !important; padding: 5px !important;}


.datetext .mydp .selectiongroup{margin-bottom: -6px !important; padding-top:8px !important; background:#e7e7e7 !important}

.nextbtn.disabledBtn{background: #51a1f7 !important; border:none !important; cursor:not-allowed}

.datetext1 p{position: absolute; z-index: 9999; font-size:10px; padding: 0px 5px; margin-top: -3px !important;}

.nextbtn.home{width: 170px !important;}


//assets\demo\default\media\img\logo\arrow-down.svg

span.glyphicon{
    border: solid #949494;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
 }
span.glyphicon.glyphicon-triangle-bottom {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
span.glyphicon.glyphicon-triangle-top {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
/* Resposive Start css*/

 @media (min-width:767px) and (max-width:998px) {
.hidden-sm{display: none;}
.m-menu__nav.m-menu__nav--dropdown-submenu-arrow{margin-top: 0px !important;}
#profileImage{margin-top: -45px !important;}
.m-card-user__pic #profileImage{margin-top: 0px !important;}
.nextbtn.home{width: 110px !important; padding: 13px 3px; }
.scanbtn.ejectbtn{width: 68px !important;}

 }

 

 /* Resposive End css*/