<!-- BEGIN: Header -->
<header class="m-grid__item    m-header" data-minimize-offset="200" data-minimize-mobile-offset="200" appunwraptag="">
	<div class="m-container m-container--fluid m-container--full-height">
		<div class="m-stack m-stack--ver m-stack--desktop">
			<!-- BEGIN: Brand -->
			<div class="m-stack__item m-brand  m-brand--skin-dark">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-stack__item--middle m-brand__logo hidden-lg">
						<a routerLink="/" class="m-brand__logo-wrapper">
							<img alt="" src="./assets/demo/default/media/img/logo/logo.png" />
						</a>
					</div>
					<div class="m-stack__item m-stack__item--middle m-brand__tools">
						<!-- BEGIN: Left Aside Minimize Toggle -->
						<a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
							<span></span>
						</a>
						<!-- END -->
						<!-- BEGIN: Responsive Aside Left Menu Toggler -->
						<a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
							<span></span>
						</a>
						<!-- END -->
						<!-- BEGIN: Topbar Toggler -->
						<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
							<i class="flaticon-more"></i>
						</a>
						<!-- BEGIN: Topbar Toggler -->
					</div>
				</div>


				<div class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" style="float:right;" data-dropdown-toggle="click" aria-expanded="true">	
			 
					 <a class="m-nav__link m-dropdown__toggle" href="#" ng-reflect-href="#" style="width:50%; float: left">
							<span class="m-topbar__userpic">
								<div id="profileImage">{{userInfo?.name| slice:0:1 }}</div>
							</span>
							<span class="m-topbar__username m--hide">
								Nick
							</span>
						</a>
					 
						<div class="m-dropdown__wrapper">
							<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 5.5px;"></span>
							<div class="m-dropdown__inner">
								<div class="m-dropdown__header m--align-center" style="background:#2662b0; background-size: cover;">
									<div class="m-card-user m-card-user--skin-dark">
										<div class="m-card-user__pic">
											<div id="profileImage">{{userInfo?.name| slice:0:1 }}</div>
										</div>
										<div class="m-card-user__details">
											<span class="m-card-user__name m--font-weight-500">
												{{userInfo?.given_name| slice:0:15 }} {{userInfo?.family_name| slice:0:15 }}
											</span>
											<!--bindings={
"ng-reflect-ng-if": "true"
}--><a class="m-card-user__email m--font-weight-300 m-link" href="" ng-reflect-href="">
												{{userInfo?.emails[0] | slice:0:25 }}
											</a>
										</div>
									</div>
								</div>
								<div class="m-dropdown__body">
									<div class="m-dropdown__content">
										<ul class="m-nav m-nav--skin-light">
											<li class="m-nav__section m--hide">
												<span class="m-nav__section-text">
													Section
												</span>
											</li>
										<!--	<li class="m-nav__item">
												<a class="m-nav__link" routerlink="/users/profile" ng-reflect-router-link="/users/profile" href="#/users/profile">
													<i class="m-nav__link-icon flaticon-profile-1"></i>
													<span class="m-nav__link-title">
														<span class="m-nav__link-wrap">
															<span class="m-nav__link-text">
																My Profile
															</span>
															
														</span>
													</span>
												</a>
											</li> -->
											<li class="m-nav__separator m-nav__separator--fit"></li>											
											<li class="m-nav__item">
												<a class="btn btn-primary m-btn--pill m-btn m-btn--custom m-btn--label-brand m-btn--bolder" routerlink="/logout" ng-reflect-router-link="/logout" href="#/logout">
													Logout
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<!-- END: Brand -->
		
		</div>
	</div>
</header>
<!-- END: Header -->