<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 text-center" style="margin:120px 0px;">
            <h2 style="font-size:120px; color:#2662b0;">404 Error</h2>
            <p style="text-align:center;" class="text-center">Sorry for the inconvenience <br>The page you are looking for was moved, removed, renamed or might never existed. </p>
            <p style="text-align:center;" class="text-center"><a href="/" class="btn-default btn">Go To Home Page </a></p>
        </div>
</div>
<style>
#m_aside_left,header,footer,.m-page-loader{
    display: none!important;
}
</style>