<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" data-menu-vertical="true"
	 data-menu-scrollable="false" data-menu-dropdown-timeout="500">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">

			<li class="m-menu__item" aria-haspopup="true" [class.active-link]="router.url=='/scanner/scan-data' || router.url=='/scanner/review' || router.url=='/scanner/result'">
					<a routerLink="/scanner/scan-data" class="m-menu__link">
						<i class="m-menu__link-icon la la-user"></i>
						<span class="m-menu__link-text">
								Scan
						</span>
					</a>
			</li>		

			<li class="m-menu__item" aria-haspopup="true" routerLinkActive="active-link">
					<a routerLink="/scanner/report" class="m-menu__link">
						<i class="m-menu__link-icon la la-file-text-o"></i>
						<span class="m-menu__link-text">
								Reports
						</span>
					</a>
			</li>

			<li  class="m-menu__item"  routerLinkActive="active-link"
			 aria-haspopup="true">
				<a routerLink="/scanner/settings" class="m-menu__link" >
					<i class="m-menu__link-icon la la-briefcase"></i>
					<span class="m-menu__link-text">
						Scanner Settings
					</span>
				</a>
			</li>
			
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
