<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Review
            </h3>          
        </div>
        <div>
        </div>
    </div>
</div>
<div class="m-content">
			<div class="m-portlet">
				<div class="padding20">
					<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="m-wizard m-wizard--2 m-wizard--success m-wizard--step-first" id="m_wizard">	
											<div class="m-wizard__head">
												<div class="m-wizard__progress">
													<div class="progress">
															<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar" role="progressbar" style="width: 50%;"></div>
													</div>
												</div>
												<div class="m-wizard__nav">
													<div class="m-wizard__steps">
														<div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
															<a class="m-wizard__step-number" href="#" ng-reflect-href="#">
																<span>
																	1
																</span>
															</a>
															<div class="m-wizard__step-info">
																<div class="m-wizard__step-title">
																	Scan
																</div>
															</div>
														</div>
														<div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_2">
															<a class="m-wizard__step-number" href="#" ng-reflect-href="#">
																<span>
																	2
																</span>
															</a>
															<div class="m-wizard__step-info">
																<div class="m-wizard__step-title">
																	Review
																</div>
															</div>
														</div>
														<div class="m-wizard__step" m-wizard-target="m_wizard_form_step_3">
															<a class="m-wizard__step-number" href="#" ng-reflect-href="#">
																<span>
																	3
																</span>
															</a>
															<div class="m-wizard__step-info">
																<div class="m-wizard__step-title">
																	Results
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
							</div>
							<!-- <div class="col-lg-4">
								<p class="pull-right topcolor">
									<span>{{reviewList.length}}</span> transaction(s) totalling <span>{{gridTotalAmount | currency}}</span>
								</p>
							</div> -->
				</div>
				<div class="row align-items-center">
						<div class="col-lg-12" *ngIf="isSuccess">
							<div class="m-alert m-alert--outline alert alert-success fade show" role="alert">
								<button aria-label="Close" class="close" type="button" (click)="hideMessage()" style="padding-top:4px;"></button>                    
								{{successMsg}}
							</div>
						</div>
						
						<div class="col-lg-12" *ngIf="isError">							
							<div class="m-alert m-alert--outline alert alert-danger fade show" role="alert">
								<button aria-label="Close" class="close" type="button" (click)="hideMessage()" style="padding-top:4px;"></button>
								{{errorMsg}}
							</div>
						</div>
				</div>
				<div class="col-lg-12 checklistbox checklistbox12  table-responsive">
				<div class="row  checklistbox1">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<table class="table table-bordered table-strip table-hover" [mfData]="reviewList" #mf="mfDataTable" [mfSortBy]="sortBy" [mfSortOrder]="sortOrderBy">								
									<thead>
										<th>
											<mfDefaultSorter by="payee_name">PAYEE NAME</mfDefaultSorter>
										</th>
										<th>
											<mfDefaultSorter by="payor_name">PAYOR NAME</mfDefaultSorter>											 
										</th>
										<th width="150px">
											<mfDefaultSorter by="date">DATE</mfDefaultSorter>											
										</th>
										<th>
											<mfDefaultSorter by="sec_code">SEC</mfDefaultSorter>											
										</th>
										<th class="righttextalign">
											<mfDefaultSorter by="amount">AMOUNT($)</mfDefaultSorter>											
										</th>
										<th class="righttextalign">
											<mfDefaultSorter by="routing_number">ROUTING#</mfDefaultSorter>
										</th>
										<th class="righttextalign">
											<mfDefaultSorter by="account_number">ACCOUNT#</mfDefaultSorter>
										</th>
										<th class="righttextalign">
											<mfDefaultSorter by="check_number">CHECK#</mfDefaultSorter>
										</th>
										<th>ACTION
										</th>
									</thead>
									<tbody>
                                        <tr  *ngFor="let reviewItem of mf.data;let counter = index;">
													<td>{{reviewItem.payee_name}}</td>
                                                    <td>{{reviewItem.payor_name}}</td>
													<td>{{reviewItem.date}}</td>
                                                    <td>{{reviewItem.sec_code}}</td>
                                                    <td class="righttextalign">{{reviewItem.amount | currency}}</td>
                                                    <td class="righttextalign">{{reviewItem.routing_number}}</td>
                                                    <td class="righttextalign">{{reviewItem.account_number}}</td>
                                                    <td class="righttextalign">{{reviewItem.check_number}}</td>
                                                <td width="150px">
                                                        <a href="#" title="Edit" class="delete" (click)="openForm(reviewItem,counter,mf.data)"><i class="fa fa-edit"></i></a> &nbsp;
                                                        <a href="#" title="Delete" class="delete" (click)="confirmDelete(reviewItem,counter,mf.data)"><i class="fa fa-trash"></i></a> &nbsp;
                                                        <a href="#" title="View" class="delete" (click)="viewForm(reviewItem)"><i class="fa fa-eye"></i></a>   &nbsp;
                                                </td>
                                        </tr>
										<tr *ngIf="!reviewList.length && beforeDisplay" class="error text-center">
											<td colspan="9">
												No records found.
											</td>
										</tr>
									</tbody>
							</table>
						</div>						
				</div>			
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 totaltrn">
					 <p class="pull-right" style="margin-right:15px; margin-bottom:10px;"><span>{{reviewList.length}}</span> transaction(s) totalling <span>{{gridTotalAmount | currency}}</span></p>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
						<button class="scanbtn" [routerLink]="['/scanner/scan-data']"> < Back</button>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<p class="pull-right">
						<button class="nextbtn" (click)="makeTransaction(reviewList)" 
							[disabled]="!reviewList.length" [ngClass]="{'disabledBtn':!reviewList.length}" >Submit > </button>
					</p>
					</div>   
				</div>
			</div>
				</div>
			</div>
	</div>

<div class="modal fade" id="m_modal_3" tabindex="-1" role="dialog" aria-labelledby="editForm" aria-hidden="true" #editForm>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addGroup">
                        Edit Check
                    </h5>
                    <button type="button" class="close"  (click)="closeForm()" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
				<div class="modal-body">					
				<div class="">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="hasPopupMessage">
						<div class="m-alert m-alert--outline alert alert-danger  alert-dismissible fade show" role="alert">
							<button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
							<div *ngFor="let popupMessage of popupMessages;let msgIndex = index;">
								{{(msgIndex+1)+". "+popupMessage}}
							</div>
						</div>
					</div>
					<div class="row padding20">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img alt="Image" src="{{front_image}}" width="100%" *ngIf="front_image!=''"/>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img alt="Image" src="{{back_image}}"  width="100%" *ngIf="back_image!=''"/>
						</div>
					</div>
					<div class="col-lg-12 checklistbox12 checklistbox1" style="padding:0px 10px;">				 					
						 <div class=table-responsive>
							 <form [formGroup]="reviewForm">
							<table class="table table-bordered table-strip table-hover">
								<thead>
								<tr>
								<th width="2px">#</th>
								<th width="150px">PAYEE NAME</th>
								<th width="150px">PAYOR NAME</th>
								<th width="155px">DATE</th>
								<th width="110px">SEC</th>
								<th width="110px" class="righttextalign">AMOUNT($)</th>
								<th width="120px" class="righttextalign">ROUTING#</th>
								<th width="145px" class="righttextalign">ACCOUNT#</th>
								<th width="100px" class="righttextalign">CHECK#</th>
								</tr>
								</thead>							
								<tbody>
									<tr style="box-shadow:none">
									<td width="5px"><p style="margin-top:10px;">1</p></td>
									<td>
										<input maxlength="100" type="text" class="form-control" placeholder="Payee Name" formControlName="payee_name" [ngClass]="{'has-error': isFormSubmit && reviewForm.controls['payee_name']?.invalid}"/>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['payee_name'].errors && (reviewForm.controls['payee_name'].errors.required || reviewForm.controls['payee_name'].errors.whitespace)">Payee Name is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payee_name}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['payee_name'].errors && reviewForm.controls['payee_name'].errors.pattern">Payee Name should be alpha numeric with space<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payee_name}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['payee_name'].errors && reviewForm.controls['payee_name'].errors.maxlength">Payee Name should be maximum of 100 characters<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payee_name}})</span></span>
									</td>
									<td>
										<input maxlength="100" type="text" class="form-control" placeholder="Payor Name" formControlName="payor_name" [ngClass]="{'has-error': isFormSubmit && reviewForm.controls['payor_name']?.invalid}"/>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['payor_name'].errors && (reviewForm.controls['payor_name'].errors.required || reviewForm.controls['payor_name'].errors.whitespace)">Payor Name is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payor_name}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['payor_name'].errors && reviewForm.controls['payor_name'].errors.pattern">Payer Name should be alpha numeric with space<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payor_name}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['payor_name'].errors && reviewForm.controls['payor_name'].errors.maxlength">Payer Name should be maximum of 100 characters<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payor_name}})</span></span>
									</td>
									 <td width="150px;">
										  <my-date-picker name="mydate" placeholder="{{datePlaceHolder}}" [options]="myDatePickerOptions" [ngClass]="{'has-error': isFormSubmit && reviewForm.controls['date']?.invalid}"
                    						formControlName="date"  (inputFieldChanged)="validateDate($event)" (dateChanged)="onDateChanged($event)"></my-date-picker>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['date'].errors && (reviewForm.controls['date'].errors.required)">{{invalidDateMessage}}<span *ngIf="showErrorCode">(Err Code: {{fieldCode.date}})</span></span>
									</td>									
									<td class="marginnone" width="100px">
										<!-- <input type="text" placeholder="Sec Code" class="form-control" formControlName="sec_code" [ngClass]="{'has-error': reviewForm.controls['sec_code']?.invalid}"/> -->
										<select class="form-control" placeholder="Select Sec Code" formControlName="sec_code" [ngClass]="{'has-error': isFormSubmit && reviewForm.controls['sec_code']?.invalid}">
											<option value="" [selected]="'selected'">Select</option>
										  	<option value="ARC">ARC</option>
                                            <option value="BOC">BOC</option>
                                            <option value="CCD">CCD</option>
                                            <option value="POP">POP</option>
                                            <option value="PPD">PPD</option>
                                            <option value="RCK">RCK</option>
                                            <option value="TEL">TEL</option>
                                            <option value="WEB">WEB</option>
											<!-- <option *ngFor="let secCode of secCodeList;let secId = index" [value]="secId">{{secCode.item}}</option> -->
										</select>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['sec_code'].errors && (reviewForm.controls['sec_code'].errors.required || reviewForm.controls['sec_code'].errors.whitespace)">SEC Code is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.sec_code}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['sec_code'].errors && reviewForm.controls['sec_code'].errors.pattern">SEC Code must be in digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.sec_code}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['sec_code'].errors && reviewForm.controls['sec_code'].errors.maxlength">SEC Code should be maximum of 8 digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.sec_code}})</span></span>
									</td>
									<td class="righttextalign">
										<input maxlength="10" type="text" (keypress)="onlyNumber($event,true)" (focusout)="addDecimal($event)" class="form-control" placeholder="00.00" formControlName="amount" [ngClass]="{'has-error': isFormSubmit && reviewForm.controls['amount']?.invalid}"/>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['amount'].errors && reviewForm.controls['amount'].errors.required">Amount is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.amount}})</span></span>
              							<span class="error" *ngIf="isFormSubmit && reviewForm.controls['amount'].errors && (reviewForm.controls['amount'].errors.amt_validate || reviewForm.controls['amount'].errors.pattern) && (!reviewForm.controls['amount'].errors.required)">Amount must be in digits (Greater than 0.01 and Less than 9999999.99)<span *ngIf="showErrorCode">(Err Code: {{fieldCode.amount}})</span></span>
									</td>
									<td class="righttextalign">
										<input maxlength="10" type="text" (keypress)="onlyNumber($event)" placeholder="Routing#" class="form-control" formControlName="routing_number" [ngClass]="{'has-error': (isFormSubmit && reviewForm.controls['routing_number']?.invalid 
										|| (hasPopupMessage && !reviewForm.isValid && (popupMessages.includes('Invalid Routing Number Format') || popupMessages.includes('Invalid Routing Number'))))}"/>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['routing_number'].errors && reviewForm.controls['routing_number'].errors.required">Routing Number is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.routing_number}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['routing_number'].errors && reviewForm.controls['routing_number'].errors.pattern 
											&& !reviewForm.controls['routing_number'].errors.maxlength">Routing Number must be in digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.routing_number}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['routing_number'].errors && reviewForm.controls['routing_number'].errors.is_less_than && (!reviewForm.controls['routing_number'].errors?.required && !reviewForm.controls['routing_number'].errors.pattern && !reviewForm.controls['routing_number'].errors.maxlength)">Routing Number should be greater than 0<span *ngIf="showErrorCode">(Err Code: {{fieldCode.routing_number}})</span></span>  											
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['routing_number'].errors && reviewForm.controls['routing_number'].errors.maxlength">Routing Number should be maximum of 10 digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.routing_number}})</span></span>
									</td>
									<td class="righttextalign">
										<input  maxlength="20" type="text" (keypress)="onlyNumber($event)" placeholder="Account#" class="form-control" formControlName="account_number" [ngClass]="{'has-error': (isFormSubmit && reviewForm.controls['account_number']?.invalid 
										|| (hasPopupMessage && !reviewForm.isValid && (popupMessages.includes('Invalid Account Number') || popupMessages.includes('Invalid Account Number Format'))))}"/>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['account_number'].errors && reviewForm.controls['account_number'].errors.required">Account Number is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.account_number}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['account_number'].errors && reviewForm.controls['account_number'].errors.pattern 
										 && !reviewForm.controls['account_number'].errors.maxlength">Account Number must be in digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.account_number}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['account_number'].errors && reviewForm.controls['account_number'].errors.is_less_than && (!reviewForm.controls['account_number'].errors?.required && !reviewForm.controls['account_number'].errors.pattern && !reviewForm.controls['account_number'].errors.maxlength)">Account Number should be greater than 0<span *ngIf="showErrorCode">(Err Code: {{fieldCode.account_number}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['account_number'].errors && reviewForm.controls['account_number'].errors.maxlength">Account Number should be maximum of 20 digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.account_number}})</span></span>
									</td>
									<td class="righttextalign">
										<input maxlength="10" type="text" (keypress)="onlyNumber($event)" placeholder="Check#" class="form-control" formControlName="check_number" [ngClass]="{'has-error': isFormSubmit && reviewForm.controls['check_number']?.invalid}"/>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['check_number'].errors && reviewForm.controls['check_number'].errors.required">Check Number is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.check_number}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['check_number'].errors && reviewForm.controls['check_number'].errors.pattern
											&& !reviewForm.controls['check_number'].errors.maxlength">Check Number must be in digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.check_number}})</span></span>
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['check_number'].errors && reviewForm.controls['check_number'].errors.is_less_than && (!reviewForm.controls['check_number'].errors?.required && !reviewForm.controls['check_number'].errors.pattern && !reviewForm.controls['check_number'].errors.maxlength)">Check Number should be greater than 0<span *ngIf="showErrorCode">(Err Code: {{fieldCode.check_number}})</span></span>											
										<span class="error" *ngIf="isFormSubmit && reviewForm.controls['check_number'].errors && reviewForm.controls['check_number'].errors.maxlength">Check Number should be maximum of 10 digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.check_number}})</span></span>
									</td>
									</tr>
								</tbody>
							</table>
							</form>
						</div>
				</div>
				 <div class="modal-footer">
					<button type="button" class="scanbtn" (click)="closeForm()">Cancel</button>
					<button type="button" class="nextbtn" (click)="saveForm(reviewForm.value,reviewForm.valid)">Save</button>
				</div>
			</div>
		</div>                
            </div>
        </div>
    </div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteRecord" aria-hidden="true" #deleteModal>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteRecord">Delete Record</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"> &times; </span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  marginb20">Are you sure you want to delete this record?</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="scanbtn" data-dismiss="modal">No</button>
					<button type="button" class="nextbtn" (click)="deleteData()">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal" aria-hidden="true" #viewModal>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="viewModal">View</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"> &times; </span>
				</button>
			</div>
			<div class="modal-body">
				<div class="">
					<div class="row padding20">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img alt="Image" src="{{front_image}}" width="100%" *ngIf="front_image!=''"/>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img alt="Image" src="{{back_image}}"  width="100%" *ngIf="back_image!=''"/>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 checklistbox12 checklistbox1" style="padding:0px;">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
							<table class="table table-bordered table-strip table-hover">
								<thead>
								<tr>
								<th>#</th>
								<th>PAYEE NAME</th>
								<th>PAYOR NAME</th>
								<th width="150px">DATE</th>
								<th>SEC</th>
								<th class="righttextalign">AMOUNT($)</th>
								<th class="righttextalign">ROUTING#</th>
								<th class="righttextalign">ACCOUNT#</th>
								<th class="righttextalign">CHECK#</th>
								</tr>
								</thead>
								<tbody>
									<tr style="box-shadow:none">
									<td>1</td>
									<td>{{recordObject.payee_name}}</td>
									<td>{{recordObject.payee_name}}</td>
									<td width="150px">{{recordObject.date}}</td>
									<td>{{recordObject.sec_code}}</td>
									<td class="righttextalign">{{recordObject.amount}}</td>
									<td class="righttextalign">{{recordObject.routing_number}}</td>
									<td class="righttextalign">{{recordObject.account_number}}</td>
									<td class="righttextalign">{{recordObject.check_number}}</td>
									</tr>
								</tbody>
							</table>
				</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="nextbtn" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
</div>			