<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Result
            </h3>            
        </div>
        <div>
        </div>
    </div>
</div>
<div class="m-content">
			<div class="m-portlet">
				<div class="padding20">
                <div class="row">    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="m-wizard m-wizard--2 m-wizard--success m-wizard--step-first" id="m_wizard">	
										<div class="m-wizard__head">
											<div class="m-wizard__progress">
												<div class="progress">
														<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar" role="progressbar" style="width: 100%;"></div>
												</div>
											</div>
											<div class="m-wizard__nav">
												<div class="m-wizard__steps">
													<div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
														<a class="m-wizard__step-number" href="#" ng-reflect-href="#">
															<span>
																1
															</span>
														</a>
														<div class="m-wizard__step-info">
															<div class="m-wizard__step-title">
																Scan
															</div>
														</div>
													</div>
													<div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_2">
														<a class="m-wizard__step-number" href="#" ng-reflect-href="#">
															<span>
																2
															</span>
														</a>
														<div class="m-wizard__step-info">
															<div class="m-wizard__step-title">
																Review
															</div>
														</div>
													</div>
													<div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_3">
														<a class="m-wizard__step-number" href="#" ng-reflect-href="#">
															<span>
																3
															</span>
														</a>
														<div class="m-wizard__step-info">
															<div class="m-wizard__step-title">
																Results
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
						</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p class="pull-right">
                            <button class="scanbtn" [routerLink]="['/scanner/scan-data']">Scan More</button>
                            </p>
                        </div>
                    </div>    
                    <div class="col-lg-12 checklistbox checklistbox12">
					<div class="row checklistbox1">                        
						<div class="col-lg-12">
							<table class="table table-bordered table-strip table-hover" 
                                                [mfData]="resultList" #mf="mfDataTable" [mfSortBy]="sortBy" [mfSortOrder]="sortOrderBy">
									<thead>
                                        <th>#</th>
										<th>
                                            <mfDefaultSorter by="payee_name">PAYEE NAME</mfDefaultSorter>                                            
                                        </th>
										<th>                                            
                                            <mfDefaultSorter by="payor_name">PAYOR NAME</mfDefaultSorter>                                            
                                        </th>
										<th>
                                            <mfDefaultSorter by="updated_on">TRANSACTION DATE</mfDefaultSorter>                                         
                                        </th>
										<th>
                                            <mfDefaultSorter by="sec_code">SEC</mfDefaultSorter>                                           
                                        </th>
										<th class="righttextalign">
                                            <mfDefaultSorter by="amount">AMOUNT($)</mfDefaultSorter>                                        
                                        </th>
										<th class="righttextalign">
                                            <mfDefaultSorter by="routing_number">ROUTING#</mfDefaultSorter>                                          
                                        </th>
										<th class="righttextalign">
                                            <mfDefaultSorter by="account_number">ACCOUNT#</mfDefaultSorter>                                          
                                        </th>
										<th class="righttextalign">
                                            <mfDefaultSorter by="check_number">CHECK#</mfDefaultSorter>                                           
                                        </th>
                                        <th>                                            
                                            <mfDefaultSorter by="check_status">STATUS</mfDefaultSorter>                                              
                                        </th>
									</thead>
									<tbody>
                                        <ng-container *ngFor="let resultItem of mf.data;let counter=index;">
                                        <tr [class]="!resultItem.isValid?'errorlist':''">
                                                    <td>{{counter + 1}}</td>
													<td>{{resultItem.payee_name}}</td>
                                                    <td>{{resultItem.payor_name}}</td>
													<td>{{resultItem.updated_on}}</td>
                                                    <td>{{resultItem.sec_code}}</td>
                                                    <td class="righttextalign">{{resultItem.amount}}</td>
                                                    <td class="righttextalign">{{resultItem.routing_number}}</td>
                                                    <td class="righttextalign">{{resultItem.account_number}}</td>
                                                    <td class="righttextalign">{{resultItem.check_number}}</td>                                             
                                                    <td class="tooltipcustomize">                                                        
                                                        <ng-container *ngIf="resultItem.isValid">
                                                            <label  [ngbTooltip]="tooltip" placement="bottom" #t="ngbTooltip" class="sucessmsg">{{resultItem.check_status | titlecase }}&nbsp;&nbsp;</label>
                                                             <ng-template #tooltip>
                                                                    <ul>
                                                                        <li>
                                                                            Transaction Id: {{resultItem.transaction_id}}
                                                                        </li>
                                                                    </ul>
                                                            </ng-template>
                                                        </ng-container>
                                                        
                                                        <ng-container *ngIf="!resultItem.isValid">
                                                            {{resultItem.check_status | titlecase }}&nbsp;&nbsp;
                                                            <i [ngbTooltip]="tooltip" placement="bottom" #t="ngbTooltip" class="fa fa-exclamation"></i>
                                                            <ng-template #tooltip>
                                                                    <ul class="resultTooltip" [innerHTML]="errorList[counter]">                                                                   
                                                                    </ul>
                                                            </ng-template>   
                                                        </ng-container>                                                        
                                                    </td>
                                        </tr>
                                        </ng-container>
										<tr *ngIf="!resultList.length && beforeDisplay" class="error text-center">
											<td colspan="10">
												No records found.
											</td>
										</tr>
									</tbody>
							</table>
						</div>                        
				</div>  
                </div>    
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 reporterror">
                            <div *ngIf="cntTransactionFailed">
                            <p class="pull-left">
                            <ng-template #tooltip>
                                <p class="pull-right"><a href="#" (click)="t.close()">X</a><p>
                                    <div *ngFor="let bubbleItem of errorList">
                                        <ul  [innerHTML]="bubbleItem">
                                        </ul>
                                    </div>
                            </ng-template>
                            <a [ngbTooltip]="tooltip" placement="top" triggers="manual" #t="ngbTooltip" (click)="t.open()" href="#" style="padding:10px 0px 10px 0px;" > 
                                <img class="tooltipError" alt="" src="./assets/demo/default/media/img/logo/erroricons.png" />
                            </a>
                            </p>
                            <p class="pull-left">
                                <span class="errosmsg">{{cntTransactionFailed}} transaction(s) failed.</span> <br>
                                <span class="sucessmsg">{{(resultList.length - cntTransactionFailed)}} transaction(s) received.</span>
                            </p>
                            </div>
                        </div>                        
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 totaltrn">
                            <p class="pull-right sucessmsg">Submitted transaction(s) can be voided before 6pm EST for the current business day.</p>
                        </div>
                    </div>
                </div>           
				</div>
			</div>    
</div>