

<!-- begin::Page loader -->
<div class="m-page-loader m-page-loader--base m-page-loader--non-block" style="margin-left: -80px; margin-top: 20px; position: fixed; z-index:9999;">
	<div class="m-blockui" style="background:#3f4047; color: #fff;">
		<span style="color: #fff;"c>
			Please wait...
		</span>
		<span>
			<div class="m-loader m-loader--brand"></div>
		</span>
	</div>
</div>
<!-- end::Page loader -->   
              	<!-- begin:: Page -->
<router-outlet></router-outlet>
<!-- end:: Page -->
<app-quick-sidebar ></app-quick-sidebar>
<app-scroll-top ></app-scroll-top>
<app-tooltips ></app-tooltips>
<!--begin::Base Scripts -->        
<app-footer ></app-footer>     	    	 		    	 				<!--end::Base Scripts -->                       <!--begin::Page Vendors -->                                   <!--end::Page Vendors -->                                                              <!--begin::Page Snippets -->                                   <!--end::Page Snippets -->
