<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Scan Checks
            </h3>
        </div>
        <div>
        </div>
    </div>
</div>


 <div class="m-content">
   <div class="m-portlet">
    <div class="padding20">
     <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-6">
         <div class="m-wizard m-wizard--2 m-wizard--success m-wizard--step-first" id="m_wizard"> 
           <div class="m-wizard__head">
            
            <div class="m-wizard__progress">
             <div class="progress">
              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar" role="progressbar" style="width: 0%;"></div>
             </div>
            </div>
                 
            <div class="m-wizard__nav">
             <div class="m-wizard__steps">
              <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
               <a class="m-wizard__step-number" href="#" ng-reflect-href="#">
                <span>
                 1
                </span>
               </a>
               <div class="m-wizard__step-info">
                <div class="m-wizard__step-title">
                 Scan
                </div>
               </div>
              </div>
              <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_2">
               <a class="m-wizard__step-number" href="#" ng-reflect-href="#">
                <span>
                 2
                </span>
               </a>
               <div class="m-wizard__step-info">
                <div class="m-wizard__step-title">
                 Review
                </div>
               </div>
              </div>
              <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_3">
               <a class="m-wizard__step-number" href="#" ng-reflect-href="#">
                <span>
                 3
                </span>
               </a>
               <div class="m-wizard__step-info">
                <div class="m-wizard__step-title">
                 Results
                </div>
               </div>
              </div>
             </div>
            </div>            
           </div>
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6 infotool">           
        <p class="pull-right">
         <button class="nextbtn home" (click)="checkScan(false)"><img alt="" class="hidden-sm" src="./assets/demo/default/media/img/logo/single-check.svg" width="30px"/> Scan Single</button>
         <button class="nextbtn home" style="width:170px; margin-left:10px;" (click)="checkScan(true)"><img alt="" class="hidden-sm" src="./assets/demo/default/media/img/logo/multiple-check.svg" width="30px"/> Scan Multiple</button>
         <button class="scanbtn ejectbtn" placement="top" ngbTooltip="Press this button to Eject Check if it gets stuck in the Scanner" (click)="ejectDocument()"><img alt="" class="hidden-sm" src="./assets/demo/default/media/img/logo/eject.svg" width="30px"/> Eject</button>
        </p>
       </div>
    </div>

    <div class="row align-items-center">
            <div class="col-lg-12" *ngIf="isSuccess">
                <div class="m-alert m-alert--outline alert alert-success  alert-dismissible fade show" role="alert">
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>                    
                    {{successMsg}}
                </div>
            </div>
            <div class="col-lg-12" *ngIf="isError">
                <div class="m-alert m-alert--outline alert alert-danger  alert-dismissible fade show" role="alert">
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
                    {{errorMsg}}
                </div>
            </div>
    </div>
    <form [formGroup]="scanDataForm" >
    <div formArrayName="checkList" class="col-lg-12 checklistbox" >        
    <div class="row padding20  checklistbox1" *ngFor="let scanData of scanDataForm.controls.checkList.controls;let currentRecord = index;" [formGroupName]="currentRecord" 
                [ngClass]="{'errorred':!transactionList[currentRecord].isValid,'green':(transactionList[currentRecord].isValid && transactionList[currentRecord].check_status=='edit')}">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img alt="Image" src="{{transactionList[currentRecord].front_image}}" width="100%" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img alt="Image" src="{{transactionList[currentRecord].back_image}}"  width="100%"/>
      </div>
      <div class="col-lg-12 padding20">
       <table class="table table-bordered table-strip table-hover">
         <thead class="hidden-sm">
          <th width="2px">#</th>
          <th width="150px">PAYEE NAME</th>
          <th width="150px">PAYOR NAME</th>
          <th width="155px">DATE</th>
          <th width="100px">SEC</th>
          <th width="120px" class="righttextalign">AMOUNT($)</th>
          <th width="120px" class="righttextalign">ROUTING#</th>
          <th width="145px" class="righttextalign">ACCOUNT#</th>
          <th width="100px" class="righttextalign">CHECK#</th>
          <th width="80px">ACTION</th>
         </thead>
         <tbody>
           <tr>   
             <td>
                 <p style="margin-top:10px;">{{currentRecord + 1}}</p>
            </td>
             <td>
                <input type="text" maxlength="100" class="form-control" placeholder="Payee Name" formControlName="payee_name" [ngClass]="{'has-error': isFormSubmit[currentRecord] && scanData.controls['payee_name']?.invalid}"/>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['payee_name'].errors && (scanData.controls['payee_name'].errors.required || scanData.controls['payee_name'].errors.whitespace)">Payee Name is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payee_name}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['payee_name'].errors && scanData.controls['payee_name'].errors.pattern">Payee Name should be alpha numeric with space<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payee_name}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['payee_name'].errors && scanData.controls['payee_name'].errors.maxlength">Payee Name should be maximum of 100 characters<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payee_name}})</span></span>
            </td>
             <td>
                <input type="text" maxlength="100" class="form-control" placeholder="Payor Name" formControlName="payor_name" [ngClass]="{'has-error': isFormSubmit[currentRecord] && scanData.controls['payor_name']?.invalid}"/>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['payor_name'].errors && (scanData.controls['payor_name'].errors.required || scanData.controls['payor_name'].errors.whitespace)">Payor Name is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payor_name}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['payor_name'].errors && scanData.controls['payor_name'].errors.pattern">Payor Name should be alpha numeric with space<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payor_name}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['payor_name'].errors && scanData.controls['payor_name'].errors.maxlength">Payor Name should be maximum of 100 characters<span *ngIf="showErrorCode">(Err Code: {{fieldCode.payor_name}})</span></span>
            </td>
            <td>
                 <my-date-picker name="mydate" placeholder="{{datePlaceHolder}}" [options]="myDatePickerOptions" [ngClass]="{'has-error': isFormSubmit[currentRecord] && scanData.controls['date']?.invalid}"
                    formControlName="date"  (inputFieldChanged)="validateDate($event,currentRecord)" (dateChanged)="onDateChanged($event,currentRecord)"></my-date-picker>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['date'].errors && (scanData.controls['date'].errors.required)">{{invalidDateMessage[currentRecord]}} <span *ngIf="showErrorCode">(Err Code: {{fieldCode.date}})</span></span>
            </td>
            <td class="marginnone">
                <select class="form-control" placeholder="Select Sec Code" formControlName="sec_code" [ngClass]="{'has-error': isFormSubmit[currentRecord] && scanData.controls['sec_code']?.invalid}">
                    <option value="" selected="selected">Select</option>
                    <!-- <option *ngFor="let secCode of secCodeList;let secId = index" [value]="secId">{{secCode.item}}</option> -->
                <option value="ARC">ARC</option>
                <option value="BOC">BOC</option>
                <option value="CCD">CCD</option>
                <option value="POP">POP</option>
                <option value="PPD">PPD</option>
                <option value="RCK">RCK</option>
                <option value="TEL">TEL</option>
                <option value="WEB">WEB</option>
                </select>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['sec_code'].errors && scanData.controls['sec_code'].errors.required">SEC code is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.sec_code}})</span></span>                
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['sec_code'].errors && scanData.controls['sec_code'].errors.maxlength">SEC code should be maximum of 8 digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.sec_code}})</span></span>
             </td>
             <td class="righttextalign">                
                <input maxlength="10" type="text" (keypress)="onlyNumber($event,true)" (focusout)="addDecimal($event,currentRecord)" class="form-control" placeholder="00.00" formControlName="amount" [ngClass]="{'has-error': isFormSubmit[currentRecord] && scanData.controls['amount']?.invalid}"/>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['amount'].errors && scanData.controls['amount'].errors.required">Amount is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.amount}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['amount'].errors && (scanData.controls['amount'].errors.amt_validate || scanData.controls['amount'].errors.pattern) && (!scanData.controls['amount'].errors.required)">Amount must be in digits (Greater than 0.01 and Less than 9999999.99)<span *ngIf="showErrorCode">(Err Code: {{fieldCode.amount}})</span></span>                
            </td>
             <td class="righttextalign">                 
                <input maxlength="10" type="text" (keypress)="onlyNumber($event)" class="form-control" placeholder="Routing#" formControlName="routing_number" [ngClass]="{'has-error': (isFormSubmit[currentRecord] && (scanData.controls['routing_number']?.invalid)) 
                || (!transactionList[currentRecord].isValid && (transactionList[currentRecord].validationError.includes('Invalid Routing Number Format') || transactionList[currentRecord].validationError.includes('Invalid Routing Number')))}"/>                
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['routing_number'].errors && scanData.controls['routing_number'].errors.required">Routing Number is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.routing_number}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['routing_number'].errors && scanData.controls['routing_number'].errors.pattern 
                    && !scanData.controls['routing_number'].errors.maxlength">Routing Number must be in digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.routing_number}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['routing_number'].errors && scanData.controls['routing_number'].errors.is_less_than && (!scanData.controls['routing_number'].errors?.required && !scanData.controls['routing_number'].errors.pattern && !scanData.controls['routing_number'].errors.maxlength)">Routing Number should be greater than 0<span *ngIf="showErrorCode">(Err Code: {{fieldCode.routing_number}})</span></span>                    
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['routing_number'].errors && scanData.controls['routing_number'].errors.maxlength">Routing Number should be maximum of 10 digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.routing_number}})</span></span>
            </td>
             <td class="righttextalign">                                 
                 <input maxlength="20" type="text" (keypress)="onlyNumber($event)" class="form-control" placeholder="Account#" formControlName="account_number" [ngClass]="{'has-error': (isFormSubmit[currentRecord] && (scanData.controls['account_number']?.invalid)) 
                 || (!transactionList[currentRecord].isValid && (transactionList[currentRecord].validationError.includes('Invalid Account Number') || transactionList[currentRecord].validationError.includes('Invalid Account Number Format')))}"/>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['account_number'].errors && scanData.controls['account_number'].errors.required">Account Number is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.account_number}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['account_number'].errors && scanData.controls['account_number'].errors.pattern 
                    && !scanData.controls['account_number'].errors.maxlength">Account Number must be in digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.account_number}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['account_number'].errors && scanData.controls['account_number'].errors.is_less_than && (!scanData.controls['account_number'].errors?.required && !scanData.controls['account_number'].errors.pattern && !scanData.controls['account_number'].errors.maxlength)">Amount should be greater than 0<span *ngIf="showErrorCode">(Err Code: {{fieldCode.account_number}})</span></span>                    
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['account_number'].errors && scanData.controls['account_number'].errors.maxlength">Account Number should be maximum of 20 digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.account_number}})</span></span>
            </td>
             <td class="righttextalign">
                <input maxlength="10" type="text" (keypress)="onlyNumber($event)" class="form-control" placeholder="Check#" formControlName="check_number" [ngClass]="{'has-error': isFormSubmit[currentRecord] && scanData.controls['check_number']?.invalid}"/>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['check_number'].errors && scanData.controls['check_number'].errors.required">Check Number is required <span *ngIf="showErrorCode">(Err Code: {{fieldCode.check_number}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['check_number'].errors && scanData.controls['check_number'].errors.pattern 
                    && !scanData.controls['check_number'].errors.maxlength">Check Number must be in digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.check_number}})</span></span>
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['check_number'].errors && scanData.controls['check_number'].errors.is_less_than && (!scanData.controls['check_number'].errors?.required && !scanData.controls['check_number'].errors.pattern && !scanData.controls['check_number'].errors.maxlength)">Check Number should be greater than 0<span *ngIf="showErrorCode">(Err Code: {{fieldCode.check_number}})</span></span>                    
                <span class="error" *ngIf="isFormSubmit[currentRecord] && scanData.controls['check_number'].errors && scanData.controls['check_number'].errors.maxlength">Check Number should be maximum of 10 digits<span *ngIf="showErrorCode">(Err Code: {{fieldCode.check_number}})</span></span>
            </td>
             <td>
             <p style="margin-top:10px;"><a href="#" title="Save" class="save"><i class="fa fa-save" (click)="saveForm(scanData.value,currentRecord,scanData.valid)"></i></a>
              <a href="#" title="Delete" class="delete"><i class="fa fa-trash" (click)="confirmDelete(transactionList[currentRecord],currentRecord)"></i></a></p>
             </td>
           </tr> 
         </tbody>
       </table>
      </div>
    </div>
    </div>
    </form> 
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 reporterror">
    <div *ngIf="scanDataForm.controls.checkList.controls.length">   
    <p class="pull-left">
        <ng-container *ngIf="invalidCount">
             <ng-template #tipContent>
                <p class="pull-right"><a href="#" (click)="t.close()">X</a><p>
                <ul>
                <ng-container *ngFor="let errItem of transactionList;let currentRecord = index;">
                    <ng-container *ngIf="!errItem.isValid;" >                        
                        <ng-container *ngFor="let errItemText of bubbleMsgList[currentRecord];">  
                                                     
                        <li *ngIf="errItemText.includes('Routing')">
                                 <div class="row">
                                    <div class="col-lg-1" style="margin-left:5px;"> <label>#{{currentRecord + 1}}</label></div>
                               <div class="col-lg-10">
                            <label>
                                    {{errItem.routing_number+" "+errItemText}}
                                    <p>Please correct or delete/re-scan this item.</p>
                                </label>    
                            </div>    
                                </div>
                        </li>
                        <li *ngIf="errItemText.includes('Account')">

                            <div class="row">
                            <div class="col-lg-1" style="margin-left:5px;"> <label>#{{currentRecord + 1}}</label></div>
                            <div class="col-lg-10">
                            <label>
                                    {{errItem.account_number+" "+errItemText}}
                                    <p>Please correct or delete/re-scan this item.</p>
                                </label>    
                            </div>    
                                </div>
                        </li>
                        </ng-container>
                    </ng-container> 
                </ng-container>
                </ul>
            </ng-template>
            <a href="#" [ngbTooltip]="tipContent" triggers="manual" #t="ngbTooltip" (click)="t.open()" style="padding:10px 0px 10px 0px;" > 
                <img class="tooltipError" alt="" src="./assets/demo/default/media/img/logo/erroricons.png" />
            </a>
        </ng-container>
        <ng-container *ngIf="!invalidCount">
            <a href="#" style="padding:10px 0px 10px 0px;" > 
                <img alt="" src="./assets/demo/default/media/img/logo/erroricons.png" />
            </a>
        </ng-container>
    </p>
    <ul>
    </ul>
     <p class="pull-left">
       <ng-container *ngIf="invalidCheckCount">
        <span class="errosmsg" >{{invalidCount}} error(s) found in {{invalidCheckCount}} check(s).</span><br/>
       </ng-container>
       <span class="sucessmsg">{{scanDataForm.controls.checkList.controls.length}} Check(s) Scanned.</span>
     </p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
     <p class="pull-right">
         <button class="nextbtn nextbtn1" (click)="confirmReviewBox()" *ngIf="(scanDataForm.controls.checkList.controls.length - checkSavedNumber)">Review ></button>
         <button class="nextbtn nextbtn1" (click)="deleteScanRecords()" *ngIf="!(scanDataForm.controls.checkList.controls.length - checkSavedNumber)">Review ></button>
    </p>
     </div>
    </div>
   </div>
    </div>
   </div>
 </div>
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteRecord" aria-hidden="true" #deleteModal>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteRecord">Delete Record</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"> &times; </span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 marginb20"><p>Are you sure you want to delete this record?</p></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="scanbtn" data-dismiss="modal">No</button>
					<button type="button" class="nextbtn" (click)="deleteData()">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmReview" aria-hidden="true" #confirmReview>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteRecord">Confirm</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"> &times; </span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 marginb20">
                       <p>  {{checkSavedNumber}} check(s) are saved and {{(transactionList?.length) - checkSavedNumber}} check(s) will deleted.  
                        Do you want to proceed?</p>
                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="scanbtn" data-dismiss="modal">No</button>
					<button type="button" class="nextbtn" (click)="deleteScanRecords()">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>