<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Scanner Settings
            </h3>
        </div>
        <div>
        </div>
    </div>
</div>

<div class="m-content pagesettings">
    <div class="m-portlet padding20">
        <div class="padding20">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="isSuccess">
                    <div class="m-alert m-alert--outline alert alert-success  alert-dismissible fade show" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button> {{responseMsg}}
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="isErrorOnMessage">
                    <div class="m-alert m-alert--outline alert alert-danger  alert-dismissible fade show" role="alert" [innerHTML]="errorOfMessage">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
                    </div>
                </div>
            </div>
            <form [formGroup]="scannerSettingForm">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  group textcolor one">
                            <input class="form-control m-input" formControlName="merchant_id" [ngClass]="scannerSettingForm.get('merchant_id').value?'used':''"
                                type="text" [ngClass]="{'has-error': scannerSettingForm.controls['merchant_id'].invalid}" readonly="readonly">
                            <span class="error" *ngIf="errors && !scannerSettingForm.controls['merchant_id'].invalid && errors.hasOwnProperty(fieldCode.merchant_id)">{{errors[fieldCode.merchant_id]}}</span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['merchant_id'].errors && scannerSettingForm.controls['merchant_id'].errors.required">Merchant id is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.merchant_id}})</span></span>

                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Merchant Id</label>
                        </div>
                    </div>

                    <div class=col-lg-8>

                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  group textcolor one">
                            <input class="form-control m-input" formControlName="serial_no" [ngClass]="scannerSettingForm.get('serial_no').value?'used':''"
                                type="text" [ngClass]="{'has-error': scannerSettingForm.controls['serial_no'].invalid}" readonly="readonly">
                            <span class="error" *ngIf="errors && !scannerSettingForm.controls['serial_no'].invalid && errors.hasOwnProperty(fieldCode.serial_no)">{{errors[fieldCode.serial_no]}}</span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['serial_no'].errors && scannerSettingForm.controls['serial_no'].errors.required">Serial number is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.serial_no}})</span></span>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Serial Number</label>
                        </div>
                    </div>                 
              
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  group textcolor one">
                            <input class="form-control m-input" maxlength="15" formControlName="ip" [ngClass]="scannerSettingForm.get('ip').value?'used':''" type="text"
                                [ngClass]="{'has-error': scannerSettingForm.controls['ip'].invalid}">
                            <span class="error" *ngIf="errors && !scannerSettingForm.controls['ip'].invalid && errors.hasOwnProperty(fieldCode.ip)">{{errors[fieldCode.ip]}}</span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['ip'].errors && scannerSettingForm.controls['ip'].errors.required">IP is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.ip}})</span></span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['ip'].errors && scannerSettingForm.controls['ip'].errors.pattern">Invalid IP format<span *ngIf="showErrorCode">(Err Code: {{fieldCode.ip}})</span></span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['ip'].errors && scannerSettingForm.controls['ip'].errors.min">IP should be minimum of 7 characters<span *ngIf="showErrorCode">(Err Code: {{fieldCode.ip}})</span></span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['ip'].errors && scannerSettingForm.controls['ip'].errors.max">IP should be maximum of 15 characters<span *ngIf="showErrorCode">(Err Code: {{fieldCode.ip}})</span></span>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>IP*</label>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  group textcolor one">
                            <input class="form-control m-input" maxlength="4" formControlName="port" [ngClass]="scannerSettingForm.get('port').value?'used':''" type="text"
                                [ngClass]="{'has-error': scannerSettingForm.controls['port'].invalid}">
                            <span class="error" *ngIf="errors && !scannerSettingForm.controls['port'].invalid && errors.hasOwnProperty(fieldCode.port)">{{errors[fieldCode.port]}}</span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['port'].errors && scannerSettingForm.controls['port'].errors.required">Port is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.port}})</span></span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['port'].errors && scannerSettingForm.controls['port'].errors.pattern
                                        && !scannerSettingForm.controls['port'].errors.maxlength">Port must be in digits <span *ngIf="showErrorCode">(Err Code: {{fieldCode.port}})</span></span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['port'].errors && scannerSettingForm.controls['port'].errors.minlength">Port should be (min 2 and max 4) digit<span *ngIf="showErrorCode">(Err Code: {{fieldCode.port}})</span></span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['port'].errors && scannerSettingForm.controls['port'].errors.maxlength">Port should be (min 2 and max 4) digit<span *ngIf="showErrorCode">(Err Code: {{fieldCode.port}})</span></span>


                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Port*</label>
                        </div>
                    </div>
                   
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  group textcolor one">
                            <p class="selecttext" *ngIf="scannerSettingForm.get('transaction_gateway').value!=''">Transactions Gateway*</p>
                            <select class="form-control m-input" formControlName="transaction_gateway" style="line-height:1.23px;" (change)="showpin()">
                                        <option value="">Transactions Gateway*</option>
                                        <option *ngFor="let listItem of transcactionGatewayList" [ngValue]="listItem.id" [disabled]="!listItem.enable">
                                            {{listItem.item}}
                                        </option>
                                    </select>
                            <span class="error" *ngIf="errors && !scannerSettingForm.controls['transaction_gateway'].invalid && errors.hasOwnProperty(fieldCode.transaction_gateway)">{{errors[fieldCode.transaction_gateway]}}</span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['transaction_gateway'].errors && scannerSettingForm.controls['transaction_gateway'].errors.required">Transactions Gateway is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.transaction_gateway}})</span>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  group textcolor one">
                            <input class="form-control m-input" maxlength="20" formControlName="source_key" [ngClass]="scannerSettingForm.get('source_key').value?'used':''"
                                type="text" [ngClass]="{'has-error': scannerSettingForm.controls['source_key'].invalid}">
                            <span class="error" *ngIf="errors && !scannerSettingForm.controls['source_key'].invalid && errors.hasOwnProperty(fieldCode.source_key)">{{errors[fieldCode.source_key]}}</span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['source_key'].errors && (scannerSettingForm.controls['source_key'].errors.required || scannerSettingForm.controls['source_key'].errors.whitespace)">Source Key is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.source_key}})</span></span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['source_key'].errors && scannerSettingForm.controls['source_key'].errors.pattern">Invalid Source Key format<span *ngIf="showErrorCode">(Err Code: {{fieldCode.source_key}})</span></span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['source_key'].errors && scannerSettingForm.controls['source_key'].errors.maxlength">Source Key should be maximum of 20 characters<span *ngIf="showErrorCode">(Err Code: {{fieldCode.source_key}})</span></span>

                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Source Key*</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  group textcolor one" *ngIf="scannerSettingForm.get('transaction_gateway').value==gatewayPinUSA">
                            <input class="form-control m-input" maxlength="10" formControlName="pin" [ngClass]="scannerSettingForm.get('pin').value?'used':''"
                                type="text" [ngClass]="{'has-error': scannerSettingForm.controls['pin'].invalid}">
                            <span class="error" *ngIf="errors && !scannerSettingForm.controls['pin'].invalid && errors.hasOwnProperty(fieldCode.pin)">{{errors[fieldCode.pin]}}</span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['pin'].errors && (scannerSettingForm.controls['pin'].errors?.required || scannerSettingForm.controls['pin'].errors.whitespace)">PIN is required<span *ngIf="showErrorCode">(Err Code: {{fieldCode.pin}})</span></span>
                            <span class="error" *ngIf="isFormSubmit && scannerSettingForm.controls['pin'].errors && scannerSettingForm.controls['pin'].errors.maxlength">PIN should be maximum of 20 characters<span *ngIf="showErrorCode">(Err Code: {{fieldCode.pin}})</span></span>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>PIN*</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="pull-right"><input type="hidden" formControlName="id">
                            <button type="button" class="scanbtn" (click)="onCancel()">Cancel</button>
                            <button type="button" class="nextbtn" (click)="saveForm(scannerSettingForm.value,scannerSettingForm.valid)">Save</button></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>